Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

[Feature] Ollama Streaming Support (#443)
  core/src/llm/ollama.rs
Due: rust-build-check

[Feature]: add streaming support for MistralAI (#444)
  core/src/llm/mistralai.rs
Due: rust-build-check

[Feature] Upgraded Rust MSRV to 1.90.0 and edition to 2024 (#453)
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/llm/providers.rs
  core/src/types.rs
  core/src/workflow.rs
  tests/rust_integration_tests/file_io_tests.rs
Due: rust-build-check, cargo-deny

feat: implement Google Gemini LLM provider with Python bindings and usage examples.
  core/src/llm/gemini.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  examples/test_gemini_llmclient.py
  examples/test_gemini_workflow.py
  python/src/llm/config.rs
Due: rust-build-check

unused parameter fixed
  python/src/workflow/executor.rs
Due: rust-build-check

[Refactor] Dead code removal and address build warnings (#442)
  core/src/llm/anthropic.rs
  core/src/llm/openai.rs
  core/src/llm/python_bridge.rs
  core/src/types.rs
  core/src/workflow.rs
  python/src/workflow/executor.rs
  tests/python_integration_tests/tests_dynamic_workflow.py
  tests/python_integration_tests/tests_executor.py
  tests/python_integration_tests/tests_llm.py
  tests/python_integration_tests/tests_performance_monitoring.py
  tests/python_unit_tests/tests_workflow.py
  tests/rust_integration_tests/concurrency_tests.rs
  tests/rust_integration_tests/full_workflow_tests.rs
Due: rust-build-check

remove python test files
  examples/test_gemini_llmclient.py
  examples/test_gemini_workflow.py
Due: none

feat: Add AI21 LLM streaming implementation with Python tests
  core/src/llm/ai21.rs
  test_ai21_stream.py
Due: rust-build-check

remove test files
  test_ai21_stream.py
Due: none

Linting rules in root Cargo.toml file
  Cargo.toml
  python/src/lib.rs
  tests/rust_unit_tests/test_helpers.rs
Due: rust-build-check, cargo-deny

feat: Enhance API key validation with provider-specific rules.
  python/src/validation.rs
Due: rust-build-check

feat: Implement support for Azure's Responses API for codex models
  core/src/llm/azurellm.rs
Due: rust-build-check

[Feature] Google gemini llm provider implementation (#454)
  core/src/llm/gemini.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  python/src/llm/config.rs
Due: rust-build-check

[Feature] add AI21 LLM streaming support (#455)
  core/src/llm/ai21.rs
Due: rust-build-check

[Feature] implement support for azure openai codex models (#457)
  core/src/llm/azurellm.rs
Due: rust-build-check

[Release] bump version to 0.6.5
  Cargo.toml
Due: rust-build-check, cargo-deny

[Release] update version to 0.6.5 in pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

[Release] update version to 0.6.5 in __init__.py
  benchmarks/frameworks/__init__.py
Due: none

[Release] update version to 0.6.5 in pyproject.toml
  python/pyproject.toml
Due: none

[Release] update graphbit-core version to 0.6.5 in README.md
  core/README.md
Due: none

[Release] update graphbit, graphbit-core, and graphbit-lib versions to 0.6.5 in Cargo.lock
  Cargo.lock
Due: none

[Fix] enhance version detection to filter only semver-style tags from git and GitHub releases
  scripts/verify-version-sync.py
Due: none

[Release] update CHANGELOG.md for version 0.6.5 with new features, bug fixes, and maintenance updates
  CHANGELOG.md
Due: none

[Release] graphbit python v0.6.5 (#458)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  benchmarks/frameworks/__init__.py
  core/README.md
  pyproject.toml
  python/pyproject.toml
  scripts/verify-version-sync.py
Due: safety-check, rust-build-check, python-build-check, cargo-deny

use native-tls for cross compilation
  Cargo.lock
  Cargo.toml
Due: rust-build-check, cargo-deny

[Bugfix] CI/CD - Use native-tls for cross compilation (#460)
  Cargo.lock
  Cargo.toml
Due: rust-build-check, cargo-deny

switched to rustls-tls
  Cargo.lock
  Cargo.toml
Due: rust-build-check, cargo-deny

removed native-lts due to version conflicts with rust stable
  Cargo.lock
Due: none

[Bugfix] Native TLS to Rustls-tls (#461)
  Cargo.lock
  Cargo.toml
Due: rust-build-check, cargo-deny

updated scraper
  Cargo.lock
  Cargo.toml
Due: rust-build-check, cargo-deny

env vars added for ring in workflow
  .github/workflows/build-and-publish.yml
Due: none

[Bugfix] Updated scraper to latest stable (#462)
  .github/workflows/build-and-publish.yml
  Cargo.lock
  Cargo.toml
Due: rust-build-check, cargo-deny

refactor: update build artifact workflow to only build artifacts.
  .github/workflows/build-artifacts-only.yml
Due: none

[Refactor] update build artifact workflow (#463)
  .github/workflows/build-artifacts-only.yml
Due: none

pinned manylinux version
  .github/workflows/build-and-publish.yml
Due: none

updated the build artifacts only workflow
  .github/workflows/build-artifacts-only.yml
Due: none

[Bugfix] Pinned manylinux versions in Github workflows (#464)
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml
Due: none

using full triplets in target platform for manylinux
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml
Due: none

[Bugfix] Using full triplets for target (#465)
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml
Due: none

updated to 2_34 manylinux
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml
Due: none

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

