Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

updated with the named soname
  guardrail_ffi/build.rs
  vendor/guardrail/aarch64-unknown-linux-gnu/libguardrail_ffi.so
  vendor/guardrail/guardrail_ffi.dll
  vendor/guardrail/x86_64-unknown-linux-gnu/libguardrail_ffi.so
Due: none

[Fix] aggregate guardrail encoding metadata for context and prompt
  core/src/lib.rs
  core/src/workflow.rs
Due: rust-build-check

[Refactor] rename guardrail 'decode' to 'rehydrate'
  core/src/workflow.rs
  python/src/workflow/executor.rs
Due: rust-build-check

patchelf to rename
  .github/workflows/build-artifacts-only.yml
Due: none

build wheel debug
  .github/workflows/build-artifacts-only.yml
Due: none

patch then copy
  .github/workflows/build-artifacts-only.yml
Due: none

before script linux
  .github/workflows/build-artifacts-only.yml
Due: none

added config.toml
  .cargo/config.toml
  .github/workflows/build-artifacts-only.yml
Due: none

tool params/outputs masked
  core/src/workflow.rs
  examples/guardrail_phone/run_guardrail_phone.py
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

feat(ag2): add AG2 benchmark framework and tests
  benchmarks/conftest.py
  benchmarks/frameworks/ag2_benchmark.py
  benchmarks/pytest.ini
  benchmarks/tests/test_ag2_benchmark.py
Due: none

docs: add AG2 to benchmark README, pyproject.toml, and run_benchmark.py
  benchmarks/README.md
  benchmarks/frameworks/common.py
  benchmarks/pyproject.toml
  benchmarks/run_benchmark.py
Due: none

updated the publish yml and refactored artifacts.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml
Due: none

[Feature] Enhance LLM execution logging: added metadata for guardrail encoding/decoding and LLM call execution
  core/src/workflow.rs
Due: rust-build-check

[Feature] Extend LLM execution metadata: added detailed logging for tool calls, guardrail executions, and LLM response handling
  core/src/workflow.rs
Due: rust-build-check

[Refactor] Restructure metadata collection, clean up code formatting and improve readability in executor.rs
  python/src/workflow/executor.rs
Due: rust-build-check

[Feature] Add workflow name to context metadata and enhance node execution metadata retrieval
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

[Feature] Enhance metadata collection for LLM executions: capture encoded payloads and raw LLM content for improved guardrail logging and user input tracking
  core/src/workflow.rs
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

[Feature] use encoded payloads for metadata to prevent exposure of raw prompts
  core/src/workflow.rs
  python/src/workflow/executor.rs
Due: rust-build-check

[Feature] add support for separate conversational context in agent nodes
  core/src/graph.rs
  core/src/workflow.rs
Due: rust-build-check

[Feature] add context parameter to Node.agent binding
  python/src/document_loader.rs
  python/src/lib.rs
  python/src/llm/config.rs
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
Due: rust-build-check

[Enhancement] Tool params/outputs masked
  core/src/workflow.rs
  examples/guardrail_phone/run_guardrail_phone.py
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

[Feature] GuardRail Build and Publish Workflow (#480)
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml
Due: none

[Feature] add AG2 benchmark (ag2>=0.11.0) alongside existing autogen-agentchat benchmark (#474)
  benchmarks/README.md
  benchmarks/conftest.py
  benchmarks/frameworks/ag2_benchmark.py
  benchmarks/frameworks/common.py
  benchmarks/pyproject.toml
  benchmarks/pytest.ini
  benchmarks/run_benchmark.py
  benchmarks/tests/test_ag2_benchmark.py
Due: none

fix: preserve policy-driven guardrail flow in iterative agent metadata loop
  python/src/workflow/executor.rs
Due: rust-build-check

[Feature] Add core memory types, errors, and vector index (#445)
  Cargo.lock
  core/Cargo.toml
  core/src/errors.rs
  core/src/lib.rs
  core/src/memory/mod.rs
  core/src/memory/types.rs
  core/src/memory/vector.rs
Due: rust-build-check, cargo-deny

[Feature] Memory layer processor service (#447)
  Cargo.lock
  core/src/lib.rs
  core/src/memory/processor.rs
  core/src/memory/service.rs
  core/src/memory/store.rs
Due: rust-build-check

[Feature] Memory layer python bindings (#448)
  Cargo.lock
  python/python-src/graphbit/__init__.py
  python/src/lib.rs
  python/src/memory/client.rs
  python/src/memory/config.rs
  python/src/memory/mod.rs
  python/src/memory/types.rs
Due: rust-build-check

[Feature] Memory layer javascript bindings (#449)
  Cargo.lock
  Cargo.toml
  javascript/Cargo.toml
  javascript/build.rs
  javascript/package.json
  javascript/src/lib.rs
Due: rust-build-check, cargo-deny

build: remove redundant 'strip' setting from pyproject.toml
  pyproject.toml
  python/pyproject.toml
Due: safety-check, python-build-check

fix: add rusqlite v0.31 to workspace dependencies in Cargo.toml
  Cargo.lock
  Cargo.toml
Due: rust-build-check, cargo-deny

fix: declare missing memory submodules
  core/src/memory/mod.rs
Due: rust-build-check

fix: resolve import of MemoryService by exporting it in memory/mod.rs
  core/src/memory/mod.rs
Due: rust-build-check

tests: update the test files according to the new metadata format
  tests/iterative_agent_tests/test_ai21.py
  tests/iterative_agent_tests/test_gemini.py
  tests/iterative_agent_tests/test_helpers.py
Due: none

[Feature] iterative agent tool calling loop (#469)
  core/src/llm/ai21.rs
  core/src/llm/anthropic.rs
  core/src/llm/azurellm.rs
  core/src/llm/bytedance.rs
  core/src/llm/deepseek.rs
  core/src/llm/fireworks.rs
  core/src/llm/gemini.rs
  core/src/llm/mistralai.rs
  core/src/llm/mod.rs
  core/src/llm/ollama.rs
  core/src/llm/openai.rs
  core/src/llm/openrouter.rs
  core/src/llm/perplexity.rs
  core/src/llm/python_bridge.rs
  core/src/llm/togetherai.rs
  core/src/llm/xai.rs
  docs/api-reference/node-types.md
  docs/api-reference/python-api.md
  docs/user-guide/tool-calling.md
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
  tests/iterative_agent_tests/__init__.py
  tests/iterative_agent_tests/test_anthropic.py
  tests/iterative_agent_tests/test_azurellm.py
  tests/iterative_agent_tests/test_bytedance.py
  tests/iterative_agent_tests/test_deepseek.py
  tests/iterative_agent_tests/test_fireworks.py
  tests/iterative_agent_tests/test_helpers.py
  tests/iterative_agent_tests/test_mistralai.py
  tests/iterative_agent_tests/test_openai.py
  tests/iterative_agent_tests/test_openrouter.py
  tests/iterative_agent_tests/test_togetherai.py
  tests/iterative_agent_tests/test_xai.py
Due: rust-build-check

removed litellm from pyproject.toml dependency files
  pyproject.toml
  python/pyproject.toml
Due: safety-check, python-build-check

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

