Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$


feat(docs): add Streaming Workflow guide documentation
  docs/index.md
  docs/user-guide/streaming-workflow.md
Due: none

Tool calling output -> input
  core/src/workflow.rs
  python/src/workflow/executor.rs
Due: rust-build-check

[Feature] implement end-to-end workflow streaming architecture with Python bindings (#494)
  core/src/lib.rs
  core/src/llm/openai.rs
  core/src/stream.rs
  core/src/workflow.rs
  docs/index.md
  docs/user-guide/streaming-workflow.md
  python/src/lib.rs
  python/src/workflow/executor.rs
  python/src/workflow/mod.rs
  python/src/workflow/node.rs
  python/src/workflow/workflow.rs
  tests/python_integration_tests/tests_streaming.py
  tests/rust_integration_tests/stream_integration_tests.rs
  tests/rust_unit_tests/mod.rs
  tests/rust_unit_tests/stream_tests.rs
Due: rust-build-check

fix(streaming-tools): defer downstream execution until parent tool nodes fully resolve and rerun dependents with resolved outputs
  core/src/workflow.rs
  python/src/workflow/executor.rs
Due: rust-build-check

[Fix] Agent Tool output passing (#495)
  core/src/workflow.rs
  python/src/workflow/executor.rs
Due: rust-build-check

[Refactor] Core Graph + Type in Core Refactoring and Optimization (#493)
  Cargo.toml
  core/src/graph/edge.rs
  core/src/graph/mod.rs
  core/src/graph/node.rs
  core/src/graph/workflow_graph.rs
  core/src/types.rs
  core/src/types/circuit_breaker.rs
  core/src/types/concurrency.rs
  core/src/types/context.rs
  core/src/types/execution.rs
  core/src/types/ids.rs
  core/src/types/message.rs
  core/src/types/mod.rs
  core/src/types/retry.rs
  tests/rust_unit_tests/graph_advanced_tests.rs
Due: rust-build-check, cargo-deny

[Feature] Implemented anthropic prompt caching - available in node agent and llmclient methods (#492)
  core/README.md
  core/rust-core.md
  core/src/llm/anthropic.rs
  core/src/llm/azurellm.rs
  core/src/llm/mod.rs
  core/src/llm/response.rs
  core/src/llm/xai.rs
  core/src/workflow.rs
  docs/api-reference/configuration.md
  docs/api-reference/node-types.md
  docs/api-reference/python-api.md
  docs/user-guide/agents.md
  docs/user-guide/llm-providers.md
  docs/user-guide/performance.md
  python/src/llm/client.rs
  python/src/llm/response.rs
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
  python/src/workflow/result.rs
Due: rust-build-check

[Release] Bump graphbit Python version to 0.6.7
  Cargo.toml
Due: rust-build-check, cargo-deny

[Release] Update graphbit and related packages to version 0.6.7
  Cargo.lock
Due: none

[Release] Changelog update for version 0.6.7 with new features, bug fixes, documentation updates, and maintenance tasks
  CHANGELOG.md
Due: none

[Release] Bump version to 0.6.7 in pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

[Release] Bump version to 0.6.7 in benchmarks/frameworks/__init__.py
  benchmarks/frameworks/__init__.py
Due: none

[Release] Update graphbit-core version to 0.6.7 in README.md
  core/README.md
Due: none

[Release] Bump version to 0.6.7 in pyproject.toml
  python/pyproject.toml
Due: none

[Release] bump graphbit python version to 0.6.7 (#496)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  benchmarks/frameworks/__init__.py
  core/README.md
  pyproject.toml
  python/pyproject.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

test(workflow): lock streaming parity contract for fallback, chunk reconstruction, and tool-call path behavior
  tests/rust_unit_tests/system_prompt_tests.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: none

test(parity): expand workflow and stream safety-net coverage for stream-vs-complete and tool-path equivalence
  tests/rust_unit_tests/llm_provider_tests.rs
  tests/rust_unit_tests/stream_tests.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: none

refactor(llm): add shared openai_compat core for http/request/sse/tool-delta and finish-reason handling
  core/src/llm/mod.rs
  core/src/llm/openai_compat/finish_reason.rs
  core/src/llm/openai_compat/http.rs
  core/src/llm/openai_compat/mod.rs
  core/src/llm/openai_compat/request.rs
  core/src/llm/openai_compat/sse.rs
  core/src/llm/openai_compat/stream_tools.rs
Due: rust-build-check

refactor(llm): migrate openai/deepseek/xai/perplexity/ai21 to shared openai_compat request/http/finish-reason and stream-tool core
  core/src/llm/ai21.rs
  core/src/llm/deepseek.rs
  core/src/llm/openai.rs
  core/src/llm/perplexity.rs
  core/src/llm/xai.rs
Due: rust-build-check

fix(streaming): enforce mode-correct workflow event emission for updates/messages parity and tool handoff stability
  core/src/stream.rs
  core/src/workflow.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: rust-build-check

chore(parity): harden OpenAI-shape rollout by fixing ByteDance metadata test drift and documenting centralized vs deferred providers
  core/src/llm/bytedance.rs
  docs/user-guide/llm-providers.md
Due: rust-build-check

fix(deepseek): preserve buffered SSE lines between stream polls to prevent truncated token output in workflow streaming
  core/src/llm/deepseek.rs
Due: rust-build-check

fix(perplexity): drain buffered SSE data lines across polls to prevent truncated streaming token output
  core/src/llm/perplexity.rs
Due: rust-build-check

fix(xai): drain buffered SSE data lines across stream polls to prevent truncated workflow token output
  core/src/llm/xai.rs
Due: rust-build-check

refactor(llm): centralize complete() HTTP execution for OpenAI-compatible providers without behavior changes
  core/src/llm/ai21.rs
  core/src/llm/deepseek.rs
  core/src/llm/openai.rs
  core/src/llm/openai_compat/complete.rs
  core/src/llm/openai_compat/mod.rs
  core/src/llm/perplexity.rs
  core/src/llm/xai.rs
Due: rust-build-check

refactor(llm): fully centralize complete() request execution for OpenAI-compatible providers with provider-specific behavior preserved
  core/src/llm/ai21.rs
  core/src/llm/deepseek.rs
  core/src/llm/openai.rs
  core/src/llm/openai_compat/complete.rs
  core/src/llm/perplexity.rs
  core/src/llm/xai.rs
Due: rust-build-check

refactor(llm): centralize provider response parsing helpers
  core/src/llm/ai21.rs
  core/src/llm/deepseek.rs
  core/src/llm/openai.rs
  core/src/llm/openai_compat/mod.rs
  core/src/llm/openai_compat/response.rs
  core/src/llm/perplexity.rs
  core/src/llm/xai.rs
Due: rust-build-check

fix tool agent output repetition and node output order in workflow metadata
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

fix tool agent output repetition and node output order in workflow metadata (#498)
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

refactor(llm): centralize OpenAI-compatible SSE stream loop for deepseek/perplexity/xai/ai21 with provider-specific behavior preserved
  core/src/llm/ai21.rs
  core/src/llm/deepseek.rs
  core/src/llm/openai_compat/mod.rs
  core/src/llm/openai_compat/simple_stream.rs
  core/src/llm/perplexity.rs
  core/src/llm/xai.rs
Due: rust-build-check

refactor(openai): centralize advanced streaming (tool deltas, usage chunks, and fallback parsing) in openai_compat
  core/src/llm/openai.rs
  core/src/llm/openai_compat/advanced_stream.rs
  core/src/llm/openai_compat/mod.rs
Due: rust-build-check

refactor(llm): replace simple stream with advanced stream in ai21, deepseek, perplexity, and xai implementations
  core/src/llm/ai21.rs
  core/src/llm/deepseek.rs
  core/src/llm/openai_compat/advanced_stream.rs
  core/src/llm/perplexity.rs
  core/src/llm/xai.rs
Due: rust-build-check

chore(llm): remove unused simple_stream module after advanced-stream provider cutover
  core/src/llm/openai_compat/mod.rs
  core/src/llm/openai_compat/simple_stream.rs
Due: rust-build-check

feat(llm): migrate Azure OpenAI models to Responses API and unify detection logic
  core/src/llm/azurellm.rs
Due: rust-build-check

feat(llm): migrate Azure OpenAI models to Responses API and unify detection logic (#499)
  core/src/llm/azurellm.rs
Due: rust-build-check

Smart validaiton
  core/src/agents.rs
  core/src/llm/providers.rs
  core/src/workflow.rs
Due: rust-build-check

docs: add FAQ section for common questions
  README.md
Due: none

Smart validaiton (#500)
  core/src/agents.rs
  core/src/llm/providers.rs
  core/src/workflow.rs
Due: rust-build-check
