Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$


Bump version to 0.6.3 in pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

Bump version to 0.6.3 in benchmarks framework
  benchmarks/frameworks/__init__.py
Due: none

Bump version to 0.6.3 in README dependencies
  core/README.md
Due: none

Bump version to 0.6.3 in pyproject.toml
  python/pyproject.toml
Due: none

[Documentation] Update license information in README to reflect Apache 2.0 (#433)
  python/README.md
Due: none

[Release] graphbit python patch v0.6.3 (#434)
  Cargo.toml
  benchmarks/frameworks/__init__.py
  core/README.md
  pyproject.toml
  python/pyproject.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

[Feature] Deepseek Sreaming Support (#429)
  core/src/llm/deepseek.rs
Due: rust-build-check

[Documentation] Update CHANGELOG for v0.6.3 release details
  CHANGELOG.md
Due: none

[Documentation] Update CHANGELOG for v0.6.3 release details (#435)
  CHANGELOG.md
Due: none

fix: remove explicit from LLM validation and warm-up requests.
  core/src/agents.rs
  python/src/llm/client.rs
Due: rust-build-check

[bugfix] azurellm max_tokens warning bug (#437)
  core/src/agents.rs
  python/src/llm/client.rs
Due: rust-build-check

[Release] Bump version to 0.6.4 in Cargo.toml
  Cargo.toml
Due: rust-build-check, cargo-deny

[Release] Update version to 0.6.4 in pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

[Release] Update version to 0.6.4 in __init__.py
  benchmarks/frameworks/__init__.py
Due: none

[Release] Update graphbit-core version to 0.6.4 in README.md
  core/README.md
Due: none

[Release] Update version to 0.6.4 in pyproject.toml
  python/pyproject.toml
Due: none

[Release] Update CHANGELOG.md for version 0.6.4 with AzureLLM bug fix
  CHANGELOG.md
Due: none

[Release] graphbit python v0.6.4 (#438)
  CHANGELOG.md
  Cargo.toml
  benchmarks/frameworks/__init__.py
  core/README.md
  pyproject.toml
  python/pyproject.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

patch version updated on cargo.lock file
  Cargo.lock
Due: none

Addressed all build warnings
  core/src/llm/anthropic.rs
  core/src/llm/openai.rs
Due: rust-build-check

[BugFix] patch version updated on cargo.lock file (#441)
  Cargo.lock
Due: none

feat: Add streaming support to the Ollama LLM provider and include Python test and example files.
  core/src/llm/ollama.rs
  test_ollama_stream.py
Due: rust-build-check

remove test files
  test_ollama_stream.py
Due: none

feat: Add streaming support for MistralAI and test file
  core/src/llm/mistralai.rs
  test_mistralai_stream.py
Due: rust-build-check

remove test files
  test_mistralai_stream.py
Due: none

feat: Add AI21 LLM streaming implementation with Python tests
  core/src/llm/ai21.rs
  test_ai21_stream.py
Due: rust-build-check

[Feature] Add core memory types, errors, and vector index
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/errors.rs
  core/src/lib.rs
  core/src/memory/mod.rs
  core/src/memory/types.rs
  core/src/memory/vector.rs
Due: rust-build-check, cargo-deny

[Feature] Add SQLite metadata store for memory persistence
  core/src/memory/mod.rs
  core/src/memory/store.rs
Due: rust-build-check

[Feature] Add LLM processor and MemoryService orchestration
  core/src/lib.rs
  core/src/memory/mod.rs
  core/src/memory/processor.rs
  core/src/memory/service.rs
Due: rust-build-check

feat: Implement streaming support for the OpenRouter LLM provider along with python test
  core/src/llm/openrouter.rs
  test_openrouter_stream.py
Due: rust-build-check

[Feature] Add Python memory bindings
  python/python-src/graphbit/__init__.py
  python/src/lib.rs
  python/src/memory/client.rs
  python/src/memory/config.rs
  python/src/memory/mod.rs
  python/src/memory/types.rs
Due: rust-build-check

[Feature] Add JavaScript/NAPI memory bindings
  Cargo.lock
  Cargo.toml
  javascript/Cargo.toml
  javascript/build.rs
  javascript/package.json
  javascript/src/lib.rs
Due: rust-build-check, cargo-deny

[Feature] Add memory layer unit tests to tests folder
  core/src/memory/store.rs
  core/src/memory/types.rs
  core/src/memory/vector.rs
  tests/rust_unit_tests/memory_store_tests.rs
  tests/rust_unit_tests/memory_types_tests.rs
  tests/rust_unit_tests/memory_vector_tests.rs
  tests/rust_unit_tests/mod.rs
Due: rust-build-check

Lifetime annotations on python bridge
  core/src/llm/python_bridge.rs
Due: rust-build-check

Refactor: Remove dead code related to executor configurations and concurrency settings
  core/src/types.rs
  core/src/workflow.rs
  python/src/workflow/executor.rs
  tests/python_integration_tests/tests_dynamic_workflow.py
  tests/python_integration_tests/tests_executor.py
  tests/python_integration_tests/tests_llm.py
  tests/python_integration_tests/tests_performance_monitoring.py
  tests/python_unit_tests/tests_workflow.py
  tests/rust_integration_tests/concurrency_tests.rs
  tests/rust_integration_tests/full_workflow_tests.rs
Due: rust-build-check

tests updated for code splitting
  tests/rust_integration_tests/concurrency_tests.rs
  tests/rust_integration_tests/doc_processing_tests.rs
  tests/rust_integration_tests/error_handling_tests.rs
  tests/rust_integration_tests/full_workflow_tests.rs
  tests/rust_unit_tests/agent_comprehensive_tests.rs
  tests/rust_unit_tests/agent_tests.rs
  tests/rust_unit_tests/test_helpers.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: none

upgraded MSRV to 1.90.0 and edition to 2024
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/llm/providers.rs
  core/src/types.rs
  core/src/workflow.rs
  tests/rust_integration_tests/file_io_tests.rs
Due: rust-build-check, cargo-deny
