Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

fix(docs): update ToolRegistry import path in README.md
  javascript/README.md
Due: none

fix(docs): specify file type in DocumentLoader example in README.md
  javascript/README.md
Due: none

chore(release): bump version to 0.5.5 and update build artifacts
  javascript/Cargo.toml
  javascript/package-lock.json
  javascript/package.json
  javascript/scripts/bump-version.js
  javascript/scripts/verify-version.js
Due: rust-build-check, cargo-deny

docs: improve README header with logos and badges
  javascript/README.md
Due: none

docs: refactor README to remove Python references and add NPM badges
  javascript/README.md
Due: none

docs: update license reference to Apache 2.0
  javascript/README.md
Due: none

chore: license overhaul to Apache-2.0 and metadata sync
  LICENSE.md
  javascript/Cargo.toml
  javascript/LICENSE.md
  javascript/package.json
Due: rust-build-check, cargo-deny

chore: final release synchronization for v0.5.5 (docs, workflows, locks)
  .github/workflows/api-coverage.yml
  .github/workflows/js-ts-ci-auto.yml
  .github/workflows/js-ts-ci-manual.yml
  Cargo.lock
  javascript/.github/workflows/js-ts-ci-manual.yml
  javascript/README.md
  javascript/docs/API.md
  javascript/docs/README.md
  javascript/docs/core-functions.md
  javascript/docs/examples/README.md
  javascript/docs/examples/error-handling.md
  javascript/docs/examples/multi-agent-system.md
  javascript/docs/examples/production-deployment.md
  javascript/docs/examples/rag-pipeline.md
  javascript/docs/migration-from-python.md
  javascript/docs/reports/api_completeness_audit.md
  javascript/docs/reports/multiagent_live_test_report.md
  javascript/docs/reports/phase_3_1_verification_report.md
  javascript/docs/reports/phase_completion_audit.md
  javascript/docs/reports/rag_live_test_report.md
  javascript/examples/doc-tests/test-readme-examples.ts
Due: none

Added memory layer
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/errors.rs
  core/src/lib.rs
  core/src/memory/mod.rs
  core/src/memory/processor.rs
  core/src/memory/service.rs
  core/src/memory/store.rs
  core/src/memory/types.rs
  core/src/memory/vector.rs
  examples/memory/memory_example.js
  examples/memory/memory_example.py
  javascript/Cargo.toml
  javascript/build.rs
  javascript/package.json
  javascript/src/lib.rs
  python/python-src/graphbit/__init__.py
  python/src/lib.rs
  python/src/memory/client.rs
  python/src/memory/config.rs
  python/src/memory/mod.rs
  python/src/memory/types.rs
  tests/rust_unit_tests/mod.rs
Due: rust-build-check, cargo-deny

[Refactor] update workflow executor for trace enhancement (#418)
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
Due: rust-build-check

[Feature] add azure embedding support (#419)
  core/src/embeddings.rs
  python/src/embeddings/config.rs
Due: rust-build-check

[Documentation] add azure embedding documentaton (#420)
  docs/user-guide/embeddings.md
Due: none

[Feature] add excel documents parsing support (#421)
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/document_loader.rs
  python/Cargo.toml
Due: rust-build-check, cargo-deny

[Documentation]: Update License Section in Multi-Lingual README Files (#422)
  README_Multi_Lingual_i18n_Files/README.ar.md
  README_Multi_Lingual_i18n_Files/README.bn.md
  README_Multi_Lingual_i18n_Files/README.de.md
  README_Multi_Lingual_i18n_Files/README.es.md
  README_Multi_Lingual_i18n_Files/README.fr.md
  README_Multi_Lingual_i18n_Files/README.hi.md
  README_Multi_Lingual_i18n_Files/README.it.md
  README_Multi_Lingual_i18n_Files/README.ja.md
  README_Multi_Lingual_i18n_Files/README.ko.md
  README_Multi_Lingual_i18n_Files/README.pt-BR.md
  README_Multi_Lingual_i18n_Files/README.ru.md
  README_Multi_Lingual_i18n_Files/README.zh-CN.md
  README_Multi_Lingual_i18n_Files/README.zh-TW.md
Due: none

feat: update deprecated max_tokens parameter to max_completion_tokens in openai provider
  core/src/agents.rs
  core/src/llm/openai.rs
  python/Cargo.toml
Due: rust-build-check, cargo-deny

feat: update deprecated max_tokens parameter to max_completion_tokens for openai models in azurellm provider
  core/src/llm/azurellm.rs
Due: rust-build-check

[Feature] OpenAI models enhancement (#424)
  core/src/agents.rs
  core/src/llm/azurellm.rs
  core/src/llm/openai.rs
  python/Cargo.toml
Due: rust-build-check, cargo-deny

bump version to 0.6.2 in Cargo.toml
  Cargo.toml
Due: rust-build-check, cargo-deny

bump version to 0.6.2 in Cargo.lock
  Cargo.lock
Due: none

bump version to 0.6.2 in pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

bump version to 0.6.2 in pyproject.toml
  python/pyproject.toml
Due: none

bump version to 0.6.2 in __init__.py
  benchmarks/frameworks/__init__.py
Due: none

bump version to 0.6.2 in README.md
  core/README.md
Due: none

enhance version bump script to update README and __init__.py with new version references
  CHANGELOG.md
  scripts/bump-version.py
Due: none

[Documentation] Update CHANGELOG.md with new features, bug fixes, and maintenance details for version 0.6.2, v0.6.1, v0.6.0, v0.6.0, v0.5.3, v0.5.1, v0.5.0
  CHANGELOG.md
Due: none

[Refactor] Update license information in pyproject.toml to OSI Approved Apache Software License
  pyproject.toml
Due: safety-check, python-build-check

[Refactor] Update license classifier in pyproject.toml to OSI Approved Apache Software License
  python/pyproject.toml
Due: none

[Refactor] update for bump 0.6.2 and related improve scripts (#425)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  benchmarks/frameworks/__init__.py
  core/README.md
  pyproject.toml
  python/pyproject.toml
  scripts/bump-version.py
Due: safety-check, rust-build-check, python-build-check, cargo-deny

[Refactor] update license info in pyproject files (#427)
  pyproject.toml
  python/pyproject.toml
Due: safety-check, python-build-check

Fix duplicate entries in CHANGELOG.md
  CHANGELOG.md
Due: none

[Documentation] Update CHANGELOG for missing versions details (#426)
  CHANGELOG.md
Due: none

feat: deepseek streaming support
  core/src/llm/deepseek.rs
  examples/test_deepseek_streaming.py
Due: rust-build-check

remove test script
  examples/test_deepseek_streaming.py
Due: none

[Feature] Add Makefile for Python package management and build processes
  python/Makefile
Due: none

Update azurellm_tests.rs
  tests/rust_unit_tests/azurellm_tests.rs
Due: none

feat: Implement cumulative token budget tracking for multi-stage LLM calls, apply node-level configurations to LLM requests, and improve Azure LLM empty content handling.
  core/src/llm/azurellm.rs
  core/src/workflow.rs
  python/src/llm/client.rs
  python/src/workflow/executor.rs
Due: rust-build-check

[Feature] LLM workflow: cumulative token budget, per-node config and Azure empty-response fix (#432)
  core/src/llm/azurellm.rs
  core/src/workflow.rs
  python/src/llm/client.rs
  python/src/workflow/executor.rs
Due: rust-build-check

[Documentation] Update license information in README to reflect Apache 2.0
  python/README.md
Due: none

Bump version to 0.6.3 in Cargo.toml
  Cargo.toml
Due: rust-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

