Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

pip install graphbit added in the root readme
  README.md
Due: none

minor changes made
  README.md
Due: none

[Documentation] Update the root readme (#257)
  README.md
Due: none

serper api integration with graphbit.
  docs/connector/serper_api.md
Due: none

[Feature] Integration of Bytedance ModelArk provider (#242)
  core/src/llm/bytedance.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  docs/user-guide/llm-providers.md
  python/src/llm/client.rs
  python/src/llm/config.rs
  tests/python_integration_tests/tests_llm.py
  tests/rust_unit_tests/llm_provider_tests.rs
Due: rust-build-check

done
  core/src/llm/cloudflare.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  docs/user-guide/llm-providers.md
  python/src/llm/config.rs
  tests/python_integration_tests/test_cloudflare.py
  tests/python_unit_tests/test_cloudflare.py
  tests/rust_integration_tests/cloudflare_test.rs
  tests/rust_unit_tests/cloudflare_test.rs
Due: rust-build-check

tests updated
  tests/python_integration_tests/test_cloudflare.py
  tests/python_unit_tests/test_cloudflare.py
  tests/rust_integration_tests/cloudflare_test.rs
  tests/rust_unit_tests/cloudflare_test.rs
  tests/rust_unit_tests/test_helpers.rs
Due: none

[Feature] Implement memory types and statistics for GraphBit Python bindings
  python/src/memory/types.rs
Due: rust-build-check

[Feature] Add in-memory storage implementation with capacity management and eviction policy
  core/src/memory/storage.rs
Due: rust-build-check

[Feature] Implement LLM-based memory extraction with configurable settings
  core/src/memory/extraction.rs
Due: rust-build-check

[Feature] Add FactualMemory implementation for long-term structured knowledge storage
  core/src/memory/factual.rs
Due: rust-build-check

[Feature] Implement episodic memory for conversation history tracking
  core/src/memory/episodic.rs
Due: rust-build-check

[Feature] Add semantic memory implementation for pattern-based knowledge storage
  core/src/memory/semantic.rs
Due: rust-build-check

[Feature] Implement working memory for short-term session-based context
  core/src/memory/working.rs
Due: rust-build-check

[Feature] Implement memory decay and filtering mechanisms
  core/src/memory/decay.rs
Due: rust-build-check

[Feature] Add memory retrieval engine with semantic and keyword search capabilities
  core/src/memory/retrieval.rs
Due: rust-build-check

[Feature] Create memory module for GraphBit Python bindings
  python/src/memory/mod.rs
Due: rust-build-check

[Feature] Define core memory types and structures for GraphBit memory system
  core/src/memory/types.rs
Due: rust-build-check

[Feature] Add memory tools module for agent integration with recall and remember functionalities
  core/src/memory/tools.rs
Due: rust-build-check

[Feature] Implement central memory manager with configuration and memory handling capabilities
  core/src/memory/manager.rs
Due: rust-build-check

[Feature] Add comprehensive memory system module for stateful AI agents
  core/src/memory/mod.rs
Due: rust-build-check

[Feature] Add optional memory manager to WorkflowContext for stateful agents
  core/src/types.rs
Due: rust-build-check

[Feature] Add memory module to core library for enhanced agent capabilities
  core/src/lib.rs
Due: rust-build-check

Refactor metadata handling in WorkflowExecutor for improved readability and consistency
  core/src/workflow.rs
Due: rust-build-check

[Feature] Add memory error type to GraphBitError for enhanced error handling
  core/src/errors.rs
Due: rust-build-check

[Feature] Add memory system classes to Python bindings for enhanced functionality
  python/src/lib.rs
Due: rust-build-check

[Feature] Implement MemoryConfig class for memory system configuration in Python bindings
  python/src/memory/config.rs
Due: rust-build-check

[Feature] Add MemoryQuery class for memory retrieval in Python bindings
  python/src/memory/query.rs
Due: rust-build-check

[Feature] Implement MemoryManager class for managing stateful agent memory in Python bindings
  python/src/memory/manager.rs
Due: rust-build-check

Refactor import statements for consistency in memory types module
  python/src/memory/types.rs
Due: rust-build-check

Fix missing newline at end of file in Azure OpenAI module tests
  core/src/llm/azure_openai.rs
Due: rust-build-check

Refactor get_node_response_metadata method signature for improved readability
  python/src/workflow/result.rs
Due: rust-build-check

Refactor LlmClient request execution for improved readability
  python/src/llm/client.rs
Due: rust-build-check

Refactor PyLlmUsage and PyLlmToolCall methods for improved readability
  python/src/llm/response.rs
Due: rust-build-check

Add documentation for Memory System in Stateful AI Agents
  docs/user-guide/memory-system.md
Due: none

python tests fixed
  core/src/llm/cloudflare.rs
  python/src/llm/config.rs
  python/src/validation.rs
  tests/python_integration_tests/test_cloudflare.py
  tests/python_unit_tests/test_cloudflare.py
Due: rust-build-check

done the testing from both rust and python side
  core/src/llm/cloudflare.rs
  docs/user-guide/llm-providers.md
  tests/python_integration_tests/tests_cloudflare.py
  tests/python_unit_tests/tests_cloudflare.py
  tests/rust_integration_tests/mod.rs
  tests/rust_unit_tests/cloudflare_test.rs
  tests/rust_unit_tests/mod.rs
Due: rust-build-check

Add setup requirements and configuration details for Cloudflare Worker AI
  docs/user-guide/llm-providers.md
Due: none

fix: document loader pdf extract fix
  Cargo.toml
  core/Cargo.toml
  core/src/document_loader.rs
  python/src/document_loader.rs
Due: rust-build-check, cargo-deny

replaced build from source with pip install graphbit
  docs/getting-started/installation.md
Due: none

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

