Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$


[Documentation] Revise production use case for Grant Thornton (#412)
  README.md
Due: none

docs: add Grant Thornton logo and elevate production case study in README
  README.md
  assets/Grant Thornton_idgV8Wo5Id_1.svg
Due: none

[Documentation]: add Grant Thornton logo and elevate production case study in README (#413)
  README.md
  assets/Grant Thornton_idgV8Wo5Id_1.svg
Due: none

docs: add prominent Munich, Germany badge with official Bundesflagge colors
  README.md
Due: none

docs: add prominent Munich, Germany badge with official Bundesflagge colors (#414)
  README.md
Due: none

feat: Add Azure embedding provider support
  AZURE_EMBEDDING_IMPLEMENTATION.md
  core/src/embeddings.rs
  python/src/embeddings/config.rs
Due: rust-build-check

modify styling of badge for built in info
  README.md
Due: none

feat: xlsb support in document loaders
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/document_loader.rs
Due: rust-build-check, cargo-deny

feat: xlsx support in document loaders
  core/src/document_loader.rs
Due: rust-build-check

chore(github): add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(github): add pull request template (#415)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: refactor workflow executor to parse tool execution results
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
Due: rust-build-check

add missing dependencies of autogen in benchmark module
  benchmarks/pyproject.toml
Due: none

update default benchmark run to 1
  benchmarks/run_benchmark.py
Due: none

[Bugfix]: add autogent missing deps (#416)
  benchmarks/pyproject.toml
  benchmarks/run_benchmark.py
Due: none

add InfinitiBit badge
  README.md
Due: none

[Documentation]: update readme with company badges and info (#417)
  README.md
Due: none

feat: expose initial llm response on which tools to use and final input to the llm with tool execution results.
  python/src/workflow/executor.rs
Due: rust-build-check

fix pre-commit issues
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
Due: rust-build-check

feat: xls support in document loaders
  core/src/document_loader.rs
Due: rust-build-check

fix: pre-commit issues
  AZURE_EMBEDDING_IMPLEMENTATION.md
  core/src/embeddings.rs
  python/src/embeddings/config.rs
Due: rust-build-check

fix: pre-commit issues
  Cargo.toml
  core/src/document_loader.rs
  python/Cargo.toml
Due: rust-build-check, cargo-deny

docs: azure embedding documentaton
  docs/user-guide/embeddings.md
Due: none

Enhance LLM configuration documentation with required model parameters for Perplexity, DeepSeek, MistralAI, and Ollama
  docs/api-reference/configuration.md
Due: none

Update installation instructions to use the correct package name for GraphBit
  docs/getting-started/installation-js.md
Due: none

Update quickstart-js.md to use the correct package name for GraphBit
  docs/getting-started/quickstart-js.md
Due: none

Update import statements in agents-js.md to use the correct package name for GraphBit
  docs/user-guide/agents-js.md
Due: none

Update DeepSeek and Ollama model parameters to be required in configuration
  docs/user-guide/concepts.md
Due: none

Update import statements in document-loader-js.md to use the correct package name for GraphBit
  docs/user-guide/document-loader-js.md
Due: none

Update import statements in embeddings-js.md to use the correct package name for GraphBit and add cosine similarity calculation example
  docs/user-guide/embeddings-js.md
Due: none

Update import statements in llm-providers-js.md to use the correct package name for GraphBit and add required model parameter notes for several configurations
  docs/user-guide/llm-providers-js.md
Due: none

Update import statements in text-splitters-js.md to use the correct package name for GraphBit
  docs/user-guide/text-splitters-js.md
Due: none

Update import statements in validation-js.md to use the correct package name for GraphBit
  docs/user-guide/validation-js.md
Due: none

Add dotenv package to package-lock.json and remove unused graphbit-linux-arm64-musl entry
  javascript/package-lock.json
Due: none

Add dotenv package and update optional dependencies in package.json
  javascript/package.json
Due: none

Refactor performance-suite.ts to improve code readability by removing unnecessary blank lines
  javascript/benchmarks/performance-suite.ts
Due: none
