Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$


fix/dependabot-workspace-resolution
  python/Cargo.lock
Due: none

Fixed pyproject no root issue (#388)
  benchmarks/README.md
  benchmarks/pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

docs(security): align security policy with OSS (Apache-2.0)
  SECURITY.md
Due: none

docs(security): align security policy with OSS (Apache-2.0) (#399)
  SECURITY.md
Due: none

doc fixed for rust core
  core/src/llm/azurellm.rs
  core/src/llm/mod.rs
Due: rust-build-check

docs(contributing): add workflow, branch, PR, and review guidance
  CONTRIBUTING.md
Due: none

docs(core): add Rust core contributor documentation
  core/README.md
  core/rust-core.md
Due: none

docs: add Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

[Refactor] Perplexity Streaming Support
  core/src/llm/perplexity.rs
Due: rust-build-check

[Documentation]: update contributing guidelines (#402)
  CONTRIBUTING.md
Due: none

[Documentation]: add Code of Conduct (#404)
  CODE_OF_CONDUCT.md
Due: none

[Documentation]: add rust core contributor documentation (#401)
  core/README.md
  core/rust-core.md
Due: none

[Refactor] Azure LLM Provider Support (#400)
  core/README.md
  core/src/llm/azurellm.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  docs/api-reference/configuration.md
  docs/examples/llm-integration.md
  docs/user-guide/llm-providers.md
  python/src/llm/client.rs
  python/src/llm/config.rs
  tests/python_integration_tests/tests_azurellm_llm.py
  tests/python_unit_tests/tests_azure_openai_clients.py
  tests/python_unit_tests/tests_azurellm_clients.py
  tests/rust_integration_tests/azurellm_integration_tests.rs
  tests/rust_integration_tests/mod.rs
  tests/rust_unit_tests/azurellm_tests.rs
  tests/rust_unit_tests/mod.rs
Due: rust-build-check

[Feature] Perplexity Streaming Support (#391)
  core/src/llm/perplexity.rs
Due: rust-build-check

modified the docs
  docs/development/python-bindings.md
Due: none

[Documentation]: add comment for python binding doc (#406)
  docs/development/python-bindings.md
Due: none

docs(readme): change project license to Apache License 2.0
  README.md
Due: none

docs: update license to Apache License 2.0 in Python README
  python/README.md
Due: none

[Documentation]: update license to Apache License 2.0 info for pypi (#403)
  python/README.md
Due: none

[Documentation]: update info of project license for Apache License 2.0 (#407)
  README.md
Due: none

platform-optimized memory allocators (#375)
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/lib.rs
  python/src/lib.rs
Due: rust-build-check, cargo-deny

[Refactor]: remove cargo lock file (#408)
  python/Cargo.lock
Due: none

[Feature]: add autogen in the graphbit benchmark module (#368)
  .gitignore
  benchmarks/frameworks/autogen_benchmark.py
  benchmarks/frameworks/common.py
  benchmarks/run_benchmark.py
  pyproject.toml
Due: safety-check, python-build-check

[Feature] add Litellm as python wrapper (#318)
  .markdownlint.yaml
  python/pyproject.toml
  python/python-src/graphbit/providers/__init__.py
  python/python-src/graphbit/providers/litellm/__init__.py
  python/python-src/graphbit/providers/litellm/client.py
  python/python-src/graphbit/providers/litellm/embeddings.py
  python/python-src/graphbit/providers/litellm/llm.py
  python/src/llm/config.rs
Due: rust-build-check

[Feature] Litellm Embeddings Implementation (#364)
  pyproject.toml
  python/python-src/graphbit/providers/litellm/embeddings.py
  python/src/embeddings/config.rs
  python/src/llm/config.rs
  tests/python_unit_tests/tests_litellm_embeddings.py
Due: safety-check, rust-build-check, python-build-check

[Feature] py bridge llm config context manager resource management (#377)
  core/src/llm/providers.rs
  python/src/llm/config.rs
Due: rust-build-check

[Documentation] Litellm llm providers and embeddings documentation (#365)
  docs/user-guide/embeddings.md
  docs/user-guide/llm-providers.md
Due: none

[Feature] Implementation of streaming feature (#386)
  Cargo.lock
  Cargo.toml
  core/src/llm/openai.rs
  python/src/llm/client.rs
  python/src/llm/stream_iterator.rs
Due: rust-build-check, cargo-deny

[Documentation] Streaming feature Documentation (#387)
  docs/api-reference/python-api.md
Due: none

[Feature] Anthropic Streaming Support (#390)
  core/src/llm/anthropic.rs
Due: rust-build-check

[Feature] Xai Streaming Support (#392)
  core/src/llm/xai.rs
Due: rust-build-check

refactor: remove autogen dependencies from root pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

fix: Address litellm duplication and instance id
  python/src/llm/config.rs
Due: rust-build-check

[Refactor] remove autogen dependencies from root pyproject.toml (#409)
  pyproject.toml
Due: safety-check, python-build-check

[BugFix]: resolve litellm duplication and instance id (#410)
  python/src/llm/config.rs
Due: rust-build-check

Revise README for clarity and production usage
  README.md
Due: none

[Documentation]: Revise README for clarity and production usage (#411)
  README.md
Due: none

Revise production use case for Grant Thornton
  README.md
Due: none
