Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

feat(python): implement context manager for LlmConfig
  python/src/llm/config.rs
Due: rust-build-check

[Feature] Add new environment dependencies for benchmarks (#371)
  benchmarks/README.md
  benchmarks/frameworks/langchain_benchmark.py
  benchmarks/frameworks/langgraph_benchmark.py
  benchmarks/pyproject.toml
Due: none

[Enhancement] Dockerfile updated for benchmarks (#372)
  benchmarks/Dockerfile
Due: none

core script for license notice only after scceessful build
  core/build.rs
Due: none

add the build rs file in core's cargo toml file
  core/Cargo.toml
Due: rust-build-check, cargo-deny

Build script for GraphBit - Shows license notice after build
  python/build_notice.py
Due: none

build.rs - Rust build script for GraphBit Python bindings
  python/build.rs
Due: none

add the build rs file in python's cargo toml file
  python/Cargo.toml
Due: rust-build-check, cargo-deny

Post-installation script for GraphBit
  python/postinstall.py
Due: none

Displays license information on first import and provides license validation
  python/python-src/graphbit/_license_notice.py
Due: none

script for show license notice upon build
  scripts/build-runner.py
Due: none

GraphBit Build Wrapper Script to ensure license notices are displayed
  scripts/manage_build.py
Due: none

script for runtime check for graphbit
  scripts/verify_runtime_logic.py
Due: none

plan for graphbit license enforcement
  python/PYPI_LICENSE_ENFORCEMENT.md
Due: none

Display license notice on first import
  python/python-src/graphbit/__init__.py
Due: none

add missing doc strings in providers rs file in core
  core/src/llm/providers.rs
Due: rust-build-check

update discord link in main README
  README.md
Due: none

update discord link in multilingual README files
  README_Multi_Lingual_i18n_Files/README.ar.md
  README_Multi_Lingual_i18n_Files/README.bn.md
  README_Multi_Lingual_i18n_Files/README.de.md
  README_Multi_Lingual_i18n_Files/README.es.md
  README_Multi_Lingual_i18n_Files/README.fr.md
  README_Multi_Lingual_i18n_Files/README.hi.md
  README_Multi_Lingual_i18n_Files/README.it.md
  README_Multi_Lingual_i18n_Files/README.ja.md
  README_Multi_Lingual_i18n_Files/README.ko.md
  README_Multi_Lingual_i18n_Files/README.pt-BR.md
  README_Multi_Lingual_i18n_Files/README.ru.md
  README_Multi_Lingual_i18n_Files/README.zh-CN.md
  README_Multi_Lingual_i18n_Files/README.zh-TW.md
Due: none

update discord link in pypi readme file
  python/README.md
Due: none

add missing doc strings in providers rs file in core (#380)
  core/src/llm/providers.rs
Due: rust-build-check

[Documentation] update add missing social media links (#381)
  README.md
  README_Multi_Lingual_i18n_Files/README.ar.md
  README_Multi_Lingual_i18n_Files/README.bn.md
  README_Multi_Lingual_i18n_Files/README.de.md
  README_Multi_Lingual_i18n_Files/README.es.md
  README_Multi_Lingual_i18n_Files/README.fr.md
  README_Multi_Lingual_i18n_Files/README.hi.md
  README_Multi_Lingual_i18n_Files/README.it.md
  README_Multi_Lingual_i18n_Files/README.ja.md
  README_Multi_Lingual_i18n_Files/README.ko.md
  README_Multi_Lingual_i18n_Files/README.pt-BR.md
  README_Multi_Lingual_i18n_Files/README.ru.md
  README_Multi_Lingual_i18n_Files/README.zh-CN.md
  README_Multi_Lingual_i18n_Files/README.zh-TW.md
  python/README.md
Due: none

modified the workflow to be fully manual trigger no auto triggers
  .github/workflows/build-and-publish.yml
Due: none

update license date info
  LICENSE.md
  python/LICENSE.md
Due: none

modified the workflow to be fully manual trigger no auto triggers (#382)
  .github/workflows/build-and-publish.yml
Due: none

update license date info (#383)
  LICENSE.md
  python/LICENSE.md
Due: none

feat: streaming feature initial phase implemented
  Cargo.lock
  Cargo.toml
  STREAMING_IMPLEMENTATION.md
  core/src/llm/openai.rs
  python/src/llm/client.rs
  python/src/llm/stream_iterator.rs
  test_s.py
  test_streaming.py
Due: rust-build-check, cargo-deny

feat: optimized streaming feature
  core/src/llm/openai.rs
  python/src/llm/client.rs
Due: rust-build-check

remove test files
  STREAMING_IMPLEMENTATION.md
  test_s.py
  test_streaming.py
Due: none

docs: streaming feature documentation
  docs/api-reference/python-api.md
Due: none

feat: anthropic streaming support
  core/src/llm/anthropic.rs
  test_anthropic_stream.py
Due: rust-build-check

refactor:Replace all benchmark prompts with curated text-only questions from the
  benchmarks/frameworks/common.py
Due: none

fix(graphbit): Generate unique agent IDs for each workflow node
  benchmarks/frameworks/graphbit_benchmark.py
Due: none

refactor(langchain): Apply structural improvements and setup time integration
  benchmarks/frameworks/langchain_benchmark.py
Due: none

fix(llamaindex): Remove pre-computed VectorStoreIndex for fair comparison
  benchmarks/frameworks/llamaindex_benchmark.py
Due: none

fix(pydanticai): Remove system prompts for fairness
  benchmarks/frameworks/pydantic_ai_benchmark.py
Due: none

fix: Fix validation errors and remove unfair advantages
  benchmarks/frameworks/crewai_benchmark.py
Due: none

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

