Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

add Ecosystem.png asset to project
  assets/Ecosystem.png
  python/assets/Ecosystem.png
Due: none

add Ecosystem.png asset to README for visual representation of GraphBit ecosystem
  README.md
Due: none

[Refactor] root readme file (#288)
  README.md
  assets/Ecosystem.png
  python/assets/Ecosystem.png
Due: none

enhance embedding client with batch processing and GIL management
  python/src/embeddings/client.rs
Due: rust-build-check

fix: release GIL during async execution for true parallelism in LlmClient
  python/src/llm/client.rs
Due: rust-build-check

fix: release GIL during text splitting for true parallelism in Character, Token, Sentence, and Recursive splitters
  python/src/text_splitter/splitter.rs
Due: rust-build-check

[Feature] add markdown lint configuration (#265)
  .markdownlint.yaml
  .pre-commit-config.yaml
Due: none

Development of GraphBit CLI
  pyproject.toml
  python/Cargo.toml
  python/cli.py
  python/pyproject.toml
  python/src/cli/deploy.rs
  python/src/cli/init.rs
  python/src/cli/mod.rs
  python/src/cli/run.rs
  python/src/lib.rs
Due: safety-check, rust-build-check, python-build-check, cargo-deny

feat: hugging face provider integrated as a python wrapper
  examples/test.py
  pyproject.toml
  python/pyproject.toml
  python/python-src/graphbit/__init__.py
  python/python-src/graphbit/integrations/__init__.py
  python/python-src/graphbit/integrations/huggingface/__init__.py
  python/python-src/graphbit/integrations/huggingface/client.py
  python/python-src/graphbit/integrations/huggingface/embeddings.py
  python/python-src/graphbit/integrations/huggingface/inference.py
  python/python-src/graphbit/integrations/huggingface/llm.py
Due: safety-check, python-build-check

feat: vllm provider integration as python wrapper
  examples/vllm_provider_example.py
  examples/vllm_provider_simple_example.py
  pyproject.toml
  python/pyproject.toml
  python/python-src/graphbit/__init__.py
  python/python-src/graphbit/vllm.py
  python/python-src/graphbit/vllm_README.md
  tests/python_integration_tests/test_vllm_integration.py
  tests/python_unit_tests/test_vllm_provider.py
Due: safety-check, python-build-check

docs: added readme docs, preview-description, set-up instruction
  examples/chatbot/README.md
  examples/chatbot/docs/description.html
  examples/chatbot/docs/preview-description.html
  examples/chatbot/docs/setup-instructions.html
Due: none

refactor: html headers are unnecessary
  examples/chatbot/docs/setup-instructions.html
Due: none

docs: html files for template
  examples/research-paper-summarizer-agent/docs/description.html
  examples/research-paper-summarizer-agent/docs/preview-description.html
  examples/research-paper-summarizer-agent/docs/setup-instructions.html
Due: none

Fix E2B ddployment
  python/src/cli/deploy.rs
  python/src/cli/init.rs
  python/src/cli/mod.rs
  python/src/cli/run.rs
Due: rust-build-check

[Documentation] README.md, preview-description, description, set-up instruction (#296)
  examples/chatbot/README.md
  examples/chatbot/docs/description.html
  examples/chatbot/docs/preview-description.html
  examples/chatbot/docs/setup-instructions.html
Due: none

[Refactor] simplify function calls for document type detection and em… (#280)
  core/src/document_loader.rs
  core/src/embeddings.rs
  core/src/graph.rs
  core/src/llm/ai21.rs
  core/src/llm/anthropic.rs
  core/src/llm/azure_openai.rs
  core/src/llm/bytedance.rs
  core/src/llm/deepseek.rs
  core/src/llm/fireworks.rs
  core/src/llm/mistralai.rs
  core/src/llm/ollama.rs
  core/src/llm/openai.rs
  core/src/llm/openrouter.rs
  core/src/llm/perplexity.rs
  core/src/llm/replicate.rs
  core/src/llm/xai.rs
  core/src/text_splitter.rs
  core/src/validation.rs
  core/src/workflow.rs
Due: rust-build-check

refactor: author name updated
  CONTRIBUTING.md
  pyproject.toml
Due: safety-check, python-build-check

[Refactor] Update Neo4j integration documentation to improve clarity and structure
  docs/connector/neo4j_integration.md
Due: none

[Feature] add neo4j python integration. (#262)
  docs/connector/neo4j_integration.md
Due: none

refactor: html files
  examples/chatbot/docs/description.html
  examples/chatbot/docs/preview-description.html
  examples/chatbot/docs/setup-instructions.html
Due: none

[Feature] enhance embedding client with batch processing and GIL management (#290)
  python/src/embeddings/client.rs
Due: rust-build-check

[Refactor]: release GIL during async execution for true parallelism in LlmClient (#291)
  python/src/llm/client.rs
Due: rust-build-check

[Refactor]: enhance text splitters of all types for true parallelism #292
  python/src/text_splitter/splitter.rs
Due: rust-build-check

feat: removed emojis
  examples/research-paper-summarizer-agent/docs/description.html
  examples/research-paper-summarizer-agent/docs/setup-instructions.html
Due: none

fix: typo
  examples/chatbot/docs/description.html
Due: none

feat: updated pyproject.toml with new set up
  examples/research-paper-summarizer-agent/pyproject.toml
Due: none

feat: updated pyproject.toml with new set up (#299)
  examples/research-paper-summarizer-agent/pyproject.toml
Due: none

refactor: updated set-up instruction
  examples/research-paper-summarizer-agent/docs/setup-instructions.html
Due: none

docs: updated readme file
  examples/research-paper-summarizer-agent/README.md
Due: none

feat: added chat completion, embeddings, similarity score
  examples/test.py
  pyproject.toml
  python/python-src/graphbit/integrations/huggingface/embeddings.py
  python/python-src/graphbit/integrations/huggingface/inference.py
  python/python-src/graphbit/integrations/huggingface/llm.py
Due: safety-check, python-build-check

feat: temperature parameter added in node.agent function
  core/src/workflow.rs
  python/src/workflow/node.rs
Due: rust-build-check

[Documentation] README.md for Research Summarizer Agent (#297)
  examples/research-paper-summarizer-agent/README.md
  examples/research-paper-summarizer-agent/docs/description.html
  examples/research-paper-summarizer-agent/docs/preview-description.html
  examples/research-paper-summarizer-agent/docs/setup-instructions.html
Due: none

[Documentation] Chatbot readme (#298)
  examples/chatbot/docs/description.html
  examples/chatbot/docs/preview-description.html
  examples/chatbot/docs/setup-instructions.html
Due: none

Update license reference in README
  core/README.md
Due: none

feat: python bridge for rust core
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  core/src/llm/python_bridge.rs
  examples/python_bridge_example.py
  python/src/llm/config.rs
Due: rust-build-check

Fixed deployment
  python/src/cli/deploy.rs
  python/src/cli/init.rs
Due: rust-build-check

[Feature] add Temperature parameter in node workflow for agent #300
  core/src/workflow.rs
  python/src/workflow/node.rs
Due: rust-build-check

[Documentation] add multi-lingual support section to README.md
  README.md
Due: none

[Documentation] add German README.md for multi-lingual support
  README.de.md
Due: none

[Documentation] add Spanish README.md for multi-lingual support
  README.es.md
Due: none

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

