Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

feat: Integrated AI21 Labs provider.
  core/src/llm/ai21.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  python/src/llm/client.rs
  python/src/llm/config.rs
Due: rust-build-check

Expose token usage details in python binding
  Cargo.toml
  python/Cargo.toml
  python/README.md
  python/src/lib.rs
  python/src/llm/client.rs
  python/src/llm/mod.rs
  python/src/llm/response.rs
Due: rust-build-check, cargo-deny

[Bugfix] Fixed precommit issue appended format (#235)
  core/src/document_loader.rs
  core/src/llm/fireworks.rs
  core/src/llm/huggingface.rs
  core/src/llm/mod.rs
  core/src/llm/xai.rs
  python/src/workflow/node.rs
Due: rust-build-check

Delete core/src/llm/azure_openai.rs
  core/src/llm/azure_openai.rs
Due: rust-build-check

tests: added some tests.
  core/src/llm/ai21.rs
  tests/python_integration_tests/tests_llm.py
  tests/rust_unit_tests/llm_provider_tests.rs
Due: rust-build-check

restore azure open ai provider
  core/src/llm/azure_openai.rs
Due: rust-build-check

[Refactor] Removing deadcode (#201)
  core/src/document_loader.rs
  core/src/llm/anthropic.rs
  core/src/workflow.rs
Due: rust-build-check

Add ignore to ollama
  tests/rust_integration_tests/concurrency_tests.rs
Due: none

[Feature] Research paper summarizer agent. (#231)
  examples/research-paper-summarizer-agent/README.md
  examples/research-paper-summarizer-agent/backend/constant.py
  examples/research-paper-summarizer-agent/backend/faiss_store.py
  examples/research-paper-summarizer-agent/backend/main-server.py
  examples/research-paper-summarizer-agent/backend/paper_manager.py
  examples/research-paper-summarizer-agent/backend/summarizer.py
  examples/research-paper-summarizer-agent/backend/utils/caching.py
  examples/research-paper-summarizer-agent/frontend/app.py
  examples/research-paper-summarizer-agent/pyproject.toml
Due: none

docs: added the corresponding docs.
  docs/user-guide/llm-providers.md
Due: none

fixed test failures (#238)
  core/src/llm/azure_openai.rs
  pyproject.toml
  tests/python_integration_tests/tests_document_loader.py
  tests/python_integration_tests/tests_llm.py
  tests/python_unit_tests/tests_llm_clients.py
  tests/rust_integration_tests/azure_openai_integration_tests.rs
  tests/rust_integration_tests/concurrency_tests.rs
  tests/rust_unit_tests/llm_tests.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: safety-check, rust-build-check, python-build-check

[Feature] AI21 Labs provider integration with Graphbit. (#240)
  core/src/llm/ai21.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  docs/user-guide/llm-providers.md
  python/src/llm/client.rs
  python/src/llm/config.rs
  tests/python_integration_tests/tests_llm.py
  tests/rust_unit_tests/llm_provider_tests.rs
Due: rust-build-check

fix: made some fixes in providers.rs
  core/src/llm/providers.rs
Due: rust-build-check

feat: integration of bytedance modelark provider
  core/src/llm/bytedance.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  python/src/llm/client.rs
  python/src/llm/config.rs
Due: rust-build-check

feat: mistral ai llm provider
  core/src/llm/mistralai.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  docs/api-reference/configuration.md
  docs/api-reference/python-api.md
  docs/examples/llm-integration.md
  docs/user-guide/llm-providers.md
  python/src/llm/config.rs
  tests/python_integration_tests/tests_llm.py
  tests/python_unit_tests/tests_llm_clients.py
  tests/rust_integration_tests/azure_openai_integration_tests.rs
  tests/rust_integration_tests/llm_tests.rs
  tests/rust_integration_tests/mod.rs
Due: rust-build-check

test cases added for ByteDance integration.
  core/src/llm/bytedance.rs
  docs/user-guide/llm-providers.md
  python/src/llm/client.rs
  python/src/llm/config.rs
  tests/python_integration_tests/tests_llm.py
  tests/rust_unit_tests/llm_provider_tests.rs
  tests/rust_unit_tests/llm_tests.rs
Due: rust-build-check

feat: tool support
  core/src/llm/mistralai.rs
  core/src/llm/mod.rs
  examples/research-paper-summarizer-agent/backend/utils/caching.py
  tests/rust_integration_tests/llm_tests.rs
  tests/rust_unit_tests/llm_tests.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: rust-build-check

fix: mistral test fails
  core/src/llm/mistralai.rs
  tests/rust_integration_tests/llm_tests.rs
Due: rust-build-check

fix: failing tests in replicate ai
  core/src/llm/replicate.rs
  tests/python_unit_tests/tests_replicate_provider.py
  tests/rust_integration_tests/azure_openai_integration_tests.rs
  tests/rust_unit_tests/llm_provider_tests.rs
  tests/rust_unit_tests/llm_tests.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: rust-build-check

update response.rs
  python/src/llm/response.rs
Due: rust-build-check

[Feature] TogetherAI provider integration. (#239)
  README.md
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  core/src/llm/togetherai.rs
  docs/user-guide/llm-providers.md
  docs/user-guide/tool-calling.md
  python/src/llm/config.rs
  tests/python_integration_tests/tests_llm.py
  tests/rust_unit_tests/llm_provider_tests.rs
  tests/rust_unit_tests/llm_tests.rs
  tests/rust_unit_tests/test_helpers.rs
Due: rust-build-check

Feature/llmusage (#241)
  Cargo.toml
  core/src/llm/azure_openai.rs
  python/Cargo.toml
  python/README.md
  python/src/lib.rs
  python/src/llm/client.rs
  python/src/llm/mod.rs
  python/src/llm/response.rs
  tests/python_integration_tests/tests_llm.py
Due: rust-build-check, cargo-deny

fix: failing tests in replicate ai (#244)
  core/src/llm/replicate.rs
  tests/python_unit_tests/tests_replicate_provider.py
  tests/rust_integration_tests/azure_openai_integration_tests.rs
  tests/rust_unit_tests/llm_provider_tests.rs
  tests/rust_unit_tests/llm_tests.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: rust-build-check

expose workflow llm metadata
  core/src/workflow.rs
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

feat: created tool_manager, embedding manager, agen manager, vectordb manager
  examples/chatbot-agent/README.md
  examples/chatbot-agent/backend/agent_manager.py
  examples/chatbot-agent/backend/chatbot_manager.py
  examples/chatbot-agent/backend/const.py
  examples/chatbot-agent/backend/data/vectordb.txt
  examples/chatbot-agent/backend/embedding_manager.py
  examples/chatbot-agent/backend/main.py
  examples/chatbot-agent/backend/tool_manager.py
  examples/chatbot-agent/backend/vectordb_manager.py
  examples/chatbot-agent/frontend/chatbot.py
  examples/chatbot-agent/pyproject.toml
  examples/test_mistral_ai.py
Due: none

feat: align python packaging metadata and crate names for PyPI
  Cargo.toml
  pyproject.toml
  python/Cargo.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

fix: update license classifier to Custom License
  pyproject.toml
Due: safety-check, python-build-check

feat: align python packaging metadata and crate names for PyPI (#248)
  Cargo.toml
  pyproject.toml
  python/Cargo.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

feat: add initial pyproject.toml for project configuration and dependencies
  python/pyproject.toml
Due: none

Update workflow with llm duration
  core/src/workflow.rs
Due: rust-build-check

feat: chatbot with tool calling
  examples/chatbot-agent/backend/agent_manager.py
  examples/chatbot-agent/backend/chatbot_manager.py
  examples/chatbot-agent/backend/const.py
  examples/chatbot-agent/backend/data/vectordb_chat_history.txt
  examples/chatbot-agent/backend/data/vectordb_personal_info.txt
  examples/chatbot-agent/backend/embedding_manager.py
  examples/chatbot-agent/backend/tool_manager.py
  examples/chatbot-agent/backend/vectordb_manager.py
  examples/test_mistral_ai.py
Due: none

update workflow with sorting node execution
  core/src/workflow.rs
Due: rust-build-check

Update executor.rs for metadata
  python/src/workflow/executor.rs
Due: rust-build-check

feat: add GitHub Actions workflow for building distribution artifacts
  .github/workflows/build-artifacts-only.yml
Due: none

Create build-artifacts-only.yml
  .github/workflows/build-artifacts-only.yml
Due: none

[test] Create build-artifacts-only (#249)
  .github/workflows/build-artifacts-only.yml
Due: none

fix: update reqwest dependency to include native-tls-vendored feature
  .github/workflows/build-artifacts-only.yml
  Cargo.toml
Due: rust-build-check, cargo-deny

fix: added Cargo lock files by removing commit block form gitignore
  .gitignore
  Cargo.lock
  python/Cargo.lock
Due: none

feat: add OpenSSL dependency for musl targets and update reqwest configuration
  Cargo.lock
  Cargo.toml
Due: rust-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

