Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$


[Fix] Removed LiteLLM as dependency (#484)
  pyproject.toml
  python/pyproject.toml
Due: safety-check, python-build-check

[Release] Bump version to 0.6.6 in pyproject.toml
  python/pyproject.toml
Due: none

[Release] Update version to 0.6.6 in pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

[Release] Bump version to 0.6.6 in Cargo.toml
  Cargo.toml
Due: rust-build-check, cargo-deny

[Release] Update graphbit and related packages to version 0.6.6 in Cargo.lock
  Cargo.lock
Due: none

[Release] Bump version to 0.6.6 in benchmarks/frameworks/__init__.py
  benchmarks/frameworks/__init__.py
Due: none

[Release] Update graphbit-core version to 0.6.6 in README.md
  core/README.md
Due: none

[Release] Update CHANGELOG for version 0.6.6 with new features, bug fixes, and maintenance updates
  CHANGELOG.md
Due: none

Conditional Nodes Init
  core/README.md
  core/src/graph.rs
  core/src/lib.rs
  core/src/workflow.rs
  examples/README.md
  examples/tasks_examples/conditional_branch_local_model.py
  python/src/workflow/context.rs
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
  python/src/workflow/workflow.rs
Due: rust-build-check

[Feature] add streaming types for workflow execution. Introduce module with foundational types for workflow-level
  core/src/lib.rs
  core/src/stream.rs
Due: rust-build-check

[Refactor] Move Stream tests to a dedicated module. Consolidate and organize StreamMode and StreamEvent tests into a new file for improved test structure and maintainability.
  core/src/stream.rs
  tests/rust_unit_tests/mod.rs
  tests/rust_unit_tests/stream_tests.rs
Due: rust-build-check

[Feature] Conditional Node Support (#487)
  core/README.md
  core/src/graph.rs
  core/src/lib.rs
  core/src/workflow.rs
  examples/README.md
  examples/tasks_examples/conditional_branch_local_model.py
  python/src/workflow/context.rs
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
  python/src/workflow/workflow.rs
Due: rust-build-check

feat(core): add execute_streaming() with node-level event emission (WorkflowStarted/NodeStarted/NodeCompleted/NodeFailed/WorkflowCompleted/WorkflowFailed) via shared execute_internal() engine
  core/src/lib.rs
  core/src/stream.rs
  core/src/workflow.rs
Due: rust-build-check

tests for conditional node + doctests
  src/lib.rs
  tests/rust_integration_tests/doc_processing_tests.rs
  tests/rust_integration_tests/full_workflow_tests.rs
  tests/rust_integration_tests/workflow_execution_integration.rs
  tests/rust_integration_tests/workflow_tests.rs
  tests/rust_unit_tests/graph_advanced_tests.rs
  tests/rust_unit_tests/serialization_comprehensive_tests.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: rust-build-check

[Test] Tests for conditional node + doctests (#489)
  src/lib.rs
  tests/rust_integration_tests/doc_processing_tests.rs
  tests/rust_integration_tests/full_workflow_tests.rs
  tests/rust_integration_tests/workflow_execution_integration.rs
  tests/rust_integration_tests/workflow_tests.rs
  tests/rust_unit_tests/graph_advanced_tests.rs
  tests/rust_unit_tests/serialization_comprehensive_tests.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: rust-build-check

feat(core): implement token-level streaming via provider.stream() in execute_agent_node_static with per-chunk Token event emission, full response accumulation, and transparent fallback to complete()
  core/src/workflow.rs
Due: rust-build-check

feat(core): thread event_tx into execute_agent_with_tools and emit ToolCallStarted per LLM-requested tool call with guardrail-masked parameters
  core/src/workflow.rs
Due: rust-build-check

feat(python): implement WorkflowStreamIterator with sync/async iteration over StreamEvents and add Executor.execute_streaming() method to Python bindings
  python/src/lib.rs
  python/src/workflow/executor.rs
  python/src/workflow/mod.rs
Due: rust-build-check

conditional node docs updated
  docs/api-reference/node-types.md
  docs/index.md
  docs/user-guide/concepts.md
  docs/user-guide/workflow-builder.md
Due: none

feat(python): implement workflow streaming architecture with metadata parity and sync/async iterator support
  python/src/workflow/executor.rs
  python/src/workflow/workflow.rs
Due: rust-build-check

feat(python): propagate workflow_name into streaming metadata for full result parity
  python/src/workflow/executor.rs
Due: rust-build-check

refactor(core): simplify finish reason parsing and enhance streaming error handling in OpenAiProvider
  core/src/llm/openai.rs
Due: rust-build-check

feat(python): enhance WorkflowStreamIterator with non-streaming tool-call loop support and guardrail integration
  python/src/workflow/executor.rs
Due: rust-build-check

feat(core): introduce LLM call lifecycle events and enhance tool call event handling in streaming workflow
  core/src/stream.rs
  core/src/workflow.rs
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
Due: rust-build-check

[Docs] conditional node docs updated (#490)
  docs/api-reference/node-types.md
  docs/index.md
  docs/user-guide/concepts.md
  docs/user-guide/workflow-builder.md
Due: none

feat(tests): add integration tests for WorkflowStreamIterator and Executor.execute_streaming() in Python and Rust
  tests/python_integration_tests/tests_streaming.py
  tests/rust_integration_tests/stream_integration_tests.rs
Due: none

[Feature] Implemented anthropic prompt caching - available in node agent and llmclient methods
  core/README.md
  core/rust-core.md
  core/src/llm/anthropic.rs
  core/src/llm/azurellm.rs
  core/src/llm/mod.rs
  core/src/llm/response.rs
  core/src/llm/xai.rs
  core/src/workflow.rs
  docs/api-reference/configuration.md
  docs/api-reference/node-types.md
  docs/api-reference/python-api.md
  docs/user-guide/agents.md
  docs/user-guide/llm-providers.md
  docs/user-guide/performance.md
  python/src/llm/client.rs
  python/src/llm/response.rs
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
  python/src/workflow/result.rs
Due: rust-build-check

feat(core): add LLM lifecycle event emissions for call start and completion in no tool workflow streaming path
  core/src/workflow.rs
Due: rust-build-check

Graph algorithm updates
  Cargo.toml
  core/src/graph.rs
Due: rust-build-check, cargo-deny

feat(core): enhance LLM streaming support in WorkflowExecutor and OpenAiProvider with improved token handling and tool call integration
  core/src/llm/openai.rs
  core/src/workflow.rs
  python/src/workflow/executor.rs
Due: rust-build-check

feat(core): implement tool call streaming integration in WorkflowExecutor and enhance LLM output formatting
  core/src/llm/openai.rs
  core/src/workflow.rs
  python/src/workflow/executor.rs
Due: rust-build-check

refactor(core): remove unused tool call tracking in WorkflowExecutor and streamline LLM response handling
  core/src/llm/openai.rs
  core/src/workflow.rs
  python/src/workflow/executor.rs
Due: rust-build-check

module splits
  core/src/graph/edge.rs
  core/src/graph/mod.rs
  core/src/graph/node.rs
  core/src/graph/workflow_graph.rs
  core/src/types.rs
  core/src/types/circuit_breaker.rs
  core/src/types/concurrency.rs
  core/src/types/context.rs
  core/src/types/execution.rs
  core/src/types/ids.rs
  core/src/types/message.rs
  core/src/types/mod.rs
  core/src/types/retry.rs
  tests/rust_unit_tests/graph_advanced_tests.rs
Due: rust-build-check

refactor(core): streamline event handling in WorkflowExecutor by consolidating event emission logic and improving tool call checks
  python/src/workflow/executor.rs
Due: rust-build-check

refactor(core): improve event handling in WorkflowExecutor by ensuring terminal event guarantees and enhancing event emission logic
  python/src/workflow/executor.rs
Due: rust-build-check

refactor(core): extract utility functions for node configuration handling in WorkflowExecutor to improve code readability and maintainability
  python/src/workflow/executor.rs
Due: rust-build-check

refactor(core): enhance event streaming in WorkflowExecutor by introducing timed event structure and comprehensive event schema documentation
  python/src/workflow/executor.rs
Due: rust-build-check

refactor(core): update stream mode documentation and enhance event forwarding logic in WorkflowExecutor
  core/src/stream.rs
  python/src/workflow/executor.rs
Due: rust-build-check

refactor(core): clarify stream mode documentation and correct event emission logic for updates mode
  core/src/stream.rs
  python/src/workflow/executor.rs
  tests/rust_integration_tests/stream_integration_tests.rs
  tests/rust_unit_tests/stream_tests.rs
Due: rust-build-check

feat(core): add llm_call_id to StreamEvent and update related event handling in messages mode
  core/src/stream.rs
  core/src/workflow.rs
  python/src/workflow/executor.rs
  tests/rust_unit_tests/stream_tests.rs
Due: rust-build-check
