Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

refactor: update PyO3 and dependencies configuration in Cargo.toml
  Cargo.toml
Due: rust-build-check, cargo-deny

bump: update graphbit and related packages to version 0.6.0
  Cargo.lock
Due: none

refactor: update Python version requirements and project version in pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

feat: add version bump script for managing project versioning
  scripts/bump-version.py
Due: none

refactor: simplify macOS build configuration and update summary messages
  .github/workflows/build-and-publish.yml
Due: none

refactor: update macOS target and simplify build arguments in workflow
  .github/workflows/build-and-publish.yml
Due: none

fix: rust integration tests
  tests/rust_integration_tests/embeddings_tests.rs
  tests/rust_integration_tests/full_workflow_tests.rs
  tests/rust_unit_tests/embedding_tests.rs
  tests/rust_unit_tests/test_helpers.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: none

fix: numpy version fix
  pyproject.toml
  scripts/core-functionalities-checker.py
  scripts/test-python-versions.sh
Due: safety-check, python-build-check

warning fix
  tests/rust_unit_tests/test_helpers.rs
Due: none

refactor: reorganize pyo3 dependencies in Cargo.toml
  python/Cargo.toml
Due: rust-build-check, cargo-deny

refactor: update authors, classifiers, and dependencies in pyproject.toml
  python/pyproject.toml
Due: none

refactor: bump graphbit package versions to 0.6.0 in Cargo.lock
  Cargo.lock
Due: none

refactor: update Python dependencies and version in Cargo.toml
  Cargo.toml
Due: rust-build-check, cargo-deny

refactor: update Python version requirements and bump package version to 0.6.0 in pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

add version bump script for GraphBit
  scripts/scripts/bump-version.py
Due: none

optimize wheel builds
  .github/workflows/build-and-publish.yml
Due: none

refactor: improve output messages in build and publish workflow
  .github/workflows/build-and-publish.yml
Due: none

--no-verify
  .github/workflows/build-and-publish.yml
Due: none

[Refactor] Python bindings deps and metadata v0.6.0 bump (#321)
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/Cargo.toml
  python/pyproject.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

Add version bump script for GraphBit (#322)
  scripts/scripts/bump-version.py
Due: none

refactor: enhance GraphBit functionality checker
  scripts/core-functionalities-checker.py
  tests/tools_tests/python_integration_tests/tests_tools_error_handling.py
  tests/tools_tests/python_integration_tests/tests_tools_workflow.py
  tests/tools_tests/python_unit_tests/tests_tool_registry.py
Due: none

fix: pyproject.toml
  pyproject.toml
  python/pyproject.toml
  scripts/test-python-versions.sh
Due: safety-check, python-build-check

[Refactor] optimize wheel builds (#323)
  .github/workflows/build-and-publish.yml
Due: none

feat: add installation guide for JavaScript/TypeScript with verification steps
  docs/getting-started/installation-js.md
Due: none

feat: add quick start tutorial for JavaScript/TypeScript including agent setup and execution
  docs/getting-started/quickstart-js.md
Due: none

feat: add comprehensive guide for configuring and customizing AI agents in JavaScript/TypeScript
  docs/user-guide/agents-js.md
Due: none

feat: add comprehensive documentation for Document Loader in JavaScript/TypeScript
  docs/user-guide/document-loader-js.md
Due: none

feat: add detailed documentation for Embeddings in JavaScript/TypeScript
  docs/user-guide/embeddings-js.md
Due: none

feat: add comprehensive documentation for Text Splitters in JavaScript/TypeScript
  docs/user-guide/text-splitters-js.md
Due: none

feat: add comprehensive documentation for LLM providers in JavaScript/TypeScript
  docs/user-guide/llm-providers-js.md
Due: none

feat: add documentation for data validation in JavaScript/TypeScript
  docs/user-guide/validation-js.md
Due: none

feat: enhance documentation with detailed installation and configuration guides for Python and JavaScript/TypeScript
  docs/index.md
Due: none

feat: add core concepts example demonstrating GraphBit functionality in JavaScript/TypeScript
  javascript/examples/core_concepts.ts
Due: none

feat: add Document Loader example demonstrating loading and processing documents in various formats
  javascript/examples/document_loader.ts
Due: none

feat: add example for testing LLM provider configurations in JavaScript
  javascript/examples/llm_providers.ts
Due: none

feat: add quickstart example for standalone agent using GraphBit JavaScript bindings
  javascript/examples/quickstart.ts
Due: none

feat: add installation test example for GraphBit JavaScript bindings
  javascript/examples/test_installation.ts
Due: none

feat: add Text Splitter example demonstrating various text splitting strategies
  javascript/examples/text_splitter.ts
Due: none

[Fix] rust integration tests (#320)
  tests/rust_integration_tests/embeddings_tests.rs
  tests/rust_integration_tests/full_workflow_tests.rs
  tests/rust_unit_tests/embedding_tests.rs
  tests/rust_unit_tests/test_helpers.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: none

add templates for issue: bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

