Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

[Bugfix] Manylinux updated to 2_34 (#466)
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml
Due: none

Latest reqwest with Openssl and zig compilation targets with caches on win/mac
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  python/Cargo.toml
Due: rust-build-check, cargo-deny

[Refactor] CI/CD workflow updated openssl configs and zig compiler (#467)
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  python/Cargo.toml
Due: rust-build-check, cargo-deny

Added Gemini Support in JS
  Cargo.lock
  Cargo.toml
  core/src/llm/gemini.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  javascript/src/llm.rs
Due: rust-build-check, cargo-deny

feat: iterative ReAct loop in executor.rs
  core/src/llm/mod.rs
  core/src/llm/openai.rs
  python/src/workflow/executor.rs
Due: rust-build-check

feat: adding max_iterations parameter to Node.agent
  python/src/workflow/node.rs
Due: rust-build-check

feat: update openai compatible llm providers to serialize tool_call_id
  core/src/llm/ai21.rs
  core/src/llm/anthropic.rs
  core/src/llm/azurellm.rs
  core/src/llm/bytedance.rs
  core/src/llm/deepseek.rs
  core/src/llm/fireworks.rs
  core/src/llm/gemini.rs
  core/src/llm/mistralai.rs
  core/src/llm/ollama.rs
  core/src/llm/openrouter.rs
  core/src/llm/perplexity.rs
  core/src/llm/python_bridge.rs
  core/src/llm/togetherai.rs
  core/src/llm/xai.rs
Due: rust-build-check

[Feature] Standard Rust & Clippy linting rules (#456)
  Cargo.toml
  python/src/lib.rs
  tests/rust_unit_tests/test_helpers.rs
Due: rust-build-check, cargo-deny

fix: move safety check for max iterations to the top of the executor loop
  python/src/workflow/executor.rs
Due: rust-build-check

feat: enhance message conversion for AnthropicProvider to support structured content blocks for tool interactions
  core/src/llm/anthropic.rs
Due: rust-build-check

feat: enhance Gemini message conversion to support function responses and coalescing tool results
  core/src/llm/gemini.rs
Due: rust-build-check

add iterative agent tests for all llm providers
  tests/iterative_agent_tests/__init__.py
  tests/iterative_agent_tests/test_ai21.py
  tests/iterative_agent_tests/test_anthropic.py
  tests/iterative_agent_tests/test_azurellm.py
  tests/iterative_agent_tests/test_bytedance.py
  tests/iterative_agent_tests/test_deepseek.py
  tests/iterative_agent_tests/test_fireworks.py
  tests/iterative_agent_tests/test_gemini.py
  tests/iterative_agent_tests/test_helpers.py
  tests/iterative_agent_tests/test_mistralai.py
  tests/iterative_agent_tests/test_openai.py
  tests/iterative_agent_tests/test_openrouter.py
  tests/iterative_agent_tests/test_togetherai.py
  tests/iterative_agent_tests/test_xai.py
Due: none

docs: add max_iterations parameter to Node.agent documentation across multiple files
  docs/api-reference/node-types.md
  docs/api-reference/python-api.md
  docs/user-guide/tool-calling.md
Due: none

removed guardrail readme
  vendor/guardrail/README.md
Due: none

[Feature] Enhance LLM execution logging: added metadata for guardrail encoding/decoding and LLM call execution
  core/src/workflow.rs
Due: rust-build-check

[Feature] Extend LLM execution metadata: added detailed logging for tool calls, guardrail executions, and LLM response handling
  core/src/workflow.rs
Due: rust-build-check

[Refactor] Restructure metadata collection, clean up code formatting and improve readability in executor.rs
  python/src/workflow/executor.rs
Due: rust-build-check

[Feature] Add workflow name to context metadata and enhance node execution metadata retrieval
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

[Feature] Enhance metadata collection for LLM executions: capture encoded payloads and raw LLM content for improved guardrail logging and user input tracking
  core/src/workflow.rs
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

guardrail dll and build updated
  guardrail_ffi/build.rs
Due: none

[Feature] use encoded payloads for metadata to prevent exposure of raw prompts
  core/src/workflow.rs
  python/src/workflow/executor.rs
Due: rust-build-check

[Feature] add StreamEvent enum for workflow streaming support
  core/src/document_loader.rs
  core/src/graph.rs
  core/src/lib.rs
  core/src/types.rs
  core/src/workflow.rs
Due: rust-build-check

[Feature] handle tool call deltas and finish reason in streaming
  core/src/llm/openai.rs
Due: rust-build-check

[Feature] implement core executor orchestration for streaming events
  core/src/llm/providers.rs
  core/src/workflow.rs
Due: rust-build-check

[Feature] implement event-driven streaming API for workflow execution
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
Due: rust-build-check

Allow vendor .so library
  .gitignore
  vendor/guardrail/aarch64-unknown-linux-gnu/libguardrail_ffi.so
  vendor/guardrail/x86_64-unknown-linux-gnu/libguardrail_ffi.so
Due: none

fully absolute paths for linux containers
  guardrail_ffi/build.rs
Due: none

updated build.rs
  guardrail_ffi/build.rs
Due: none

[Feature] add support for separate conversational context in agent nodes
  core/src/graph.rs
  core/src/workflow.rs
Due: rust-build-check

bumped cache version to v2
  .github/workflows/build-artifacts-only.yml
Due: none

[Feature] add context parameter to Node.agent binding
  python/src/document_loader.rs
  python/src/lib.rs
  python/src/llm/config.rs
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
Due: rust-build-check

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

