Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

Add comprehensive tests for memory retrieval functionality
  core/tests/memory/test_retrieval.rs
Due: none

Add comprehensive tests for semantic memory functionality
  core/tests/memory/test_semantic.rs
Due: none

Add comprehensive tests for in-memory storage functionality
  core/tests/memory/test_storage.rs
Due: none

Add comprehensive tests for memory types and entries
  core/tests/memory/test_types.rs
Due: none

Add comprehensive tests for working memory functionality
  core/tests/memory/test_working.rs
Due: none

Update LICENSE.md
  LICENSE.md
Due: none

[BugFix] Document Loader PDF Extract Fix (#260)
  Cargo.toml
  core/Cargo.toml
  core/src/document_loader.rs
  python/src/document_loader.rs
Due: rust-build-check, cargo-deny

Serper api integration with graphbit. (#258)
  docs/connector/serper_api.md
Due: none

refactor: added f string
  docs/examples/llm-integration.md
  docs/getting-started/quickstart.md
  docs/user-guide/llm-providers.md
Due: none

[Refactor] Simplify Neo4j integration by replacing class-based structure with functional approach for connection management and document handling
  docs/connector/neo4j_integration.md
Due: none

[Refactor] Enhance Neo4j integration by adding type hints, improving batch document storage, and refining schema setup
  docs/connector/neo4j_integration.md
Due: none

markdownlint configured
  .markdownlint.yaml
  .pre-commit-config.yaml
Due: none

[Feature] Prepared redis vector search connector integration in python
  docs/connector/redis_vector_search.md
Due: none

[Documentation] Per Node LLM Provider Readme (#264)
  docs/examples/llm-integration.md
  docs/getting-started/quickstart.md
  docs/user-guide/llm-providers.md
Due: none

Add methods for managing working memory and context variables in MemoryManager
  python/src/memory/manager.rs
Due: rust-build-check

Fix description parsing in SemanticConcept from MemoryEntry content
  python/src/memory/semantic.rs
Due: rust-build-check

Add search and summary methods for episodic memory
  core/src/memory/episodic.rs
Due: rust-build-check

Add search and filtering methods for factual memory
  core/src/memory/factual.rs
Due: rust-build-check

Add methods for managing working memory and episodic memory interactions
  core/src/memory/manager.rs
Due: rust-build-check

Add similarity calculation and search methods for semantic concepts
  core/src/memory/semantic.rs
Due: rust-build-check

Add methods to retrieve all session metadata and clear session memories
  core/src/memory/working.rs
Due: rust-build-check

[Feature] Voyage AI connector integration done in python side.
  docs/connector/voyage_ai_integration.md
Due: none

refactor: resolved precommit issue fstring
  core/src/llm/azure_openai.rs
  core/src/llm/replicate.rs
  core/src/workflow.rs
  python/src/llm/client.rs
  python/src/llm/response.rs
  python/src/workflow/result.rs
Due: rust-build-check

feat: google-api-integration
  examples/google-api-integration.py
Due: none

[fix] improve error handling in Q&A status check
  examples/research-paper-summarizer-agent/frontend/app.py
Due: none

[Feature] Add Github Search Integration with Graphbit.
  docs/connector/github_search_integration.md
Due: none

[fix] replace direct casts with try_from for safer type conversions
  core/src/document_loader.rs
  core/src/embeddings.rs
  core/src/llm/huggingface.rs
  core/src/llm/replicate.rs
  core/src/types.rs
  core/src/workflow.rs
Due: rust-build-check

[fix] handle potential errors in type conversions across multiple modules
  core/src/document_loader.rs
  core/src/embeddings.rs
  core/src/llm/huggingface.rs
  core/src/llm/replicate.rs
  core/src/types.rs
  core/src/workflow.rs
Due: rust-build-check

[fix] improve type conversion safety and handle edge cases across multiple modules
  core/src/embeddings.rs
  core/src/llm/huggingface.rs
  core/src/llm/ollama.rs
  core/src/llm/response.rs
  core/src/types.rs
Due: rust-build-check

docs: core readme update.
  core/README.md
Due: none

[Refactor]: Resolved precommit issue fstring (#270)
  core/src/llm/replicate.rs
  core/src/workflow.rs
Due: rust-build-check

fix: agent name and agent result extract method.
  docs/connector/github_search_integration.md
Due: none

fix: (In individual snippet) agent name and agent result extract method.
  docs/connector/github_search_integration.md
Due: none

[Feature] Add Github Search Integration with Graphbit. (#272)
  docs/connector/github_search_integration.md
Due: none

[Feature] build artifacts and publish into PyPI (#275)
  .github/workflows/build-and-publish2.yml
  .github/workflows/build-artifacts-only.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/README.md
  pyproject.toml
  python/Cargo.lock
  python/Cargo.toml
  python/LICENSE.md
  python/README.md
  python/pyproject.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

[Version] Bump version to 0.5.1 in Cargo.toml
  Cargo.toml
Due: rust-build-check, cargo-deny

[Version] Update graphbit-core version to 0.5.1 in README.md
  core/README.md
Due: none

[Version] Bump version to 0.5.1 in pyproject.toml
  pyproject.toml
Due: safety-check, python-build-check

[Version] Bump version to 0.5.1 in pyproject.toml
  python/pyproject.toml
Due: none

Update dependencies in Cargo.lock for version 0.5.1
  Cargo.lock
Due: none

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

