Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

safety-check:
  name: Safety dependency check
  entry: poetry run safety check
  language: system
  pass_filenames: false

rust-build-check:
  name: Rust build check
  entry: cargo check --workspace --all-targets
  language: system
  pass_filenames: false

python-build-check:
  name: Python build check
  entry: poetry check
  language: system
  pass_filenames: false

cargo-deny:
  name: Cargo deny check
  entry: bash -c 'if command -v cargo-deny &> /dev/null; then cargo deny check; else echo "cargo-deny not installed, skipping"; fi'
  language: system
  pass_filenames: false

Fix OpenSSL builds: add vendored OpenSSL to workspace members
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  python/Cargo.toml
Due: rust-build-check, cargo-deny

feat: add OpenSSL installation step for glibc builds in CI workflow
  .github/workflows/build-artifacts-only.yml
Due: none

feat: enable vendored OpenSSL for aarch64 cross-compilation in Cargo.toml files
  Cargo.toml
  core/Cargo.toml
  python/Cargo.toml
Due: rust-build-check, cargo-deny

refactor: remove unnecessary compatibility and auditwheel settings in pyproject.toml
  python/pyproject.toml
Due: none

fix: update license file reference in Cargo.toml for consistency
  Cargo.toml
  python/Cargo.toml
Due: rust-build-check, cargo-deny

fixed pre commit issue
  Cargo.toml
  python/Cargo.toml
Due: rust-build-check, cargo-deny

fix: update license classifier in pyproject.toml to reflect proprietary license
  python/pyproject.toml
Due: none

fix license file location: copy LICENSE.md to python directory
  python/LICENSE.md
  python/pyproject.toml
Due: none

fix: update license-file entry in Cargo.toml to specify LICENSE.md
  python/Cargo.toml
Due: rust-build-check, cargo-deny

fix: reorder license-file field in python/Cargo.toml for consistency
  python/Cargo.toml
Due: rust-build-check, cargo-deny

fix: update readme path in pyproject.toml for consistency
  python/pyproject.toml
Due: none

fix: update version to 0.5.0 in Cargo.toml, Cargo.lock, README.md, and pyproject.toml files
  Cargo.lock
  Cargo.toml
  core/README.md
  pyproject.toml
  python/pyproject.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

fix: remove license-file entry from Cargo.toml
  python/Cargo.toml
Due: rust-build-check, cargo-deny

feat: add workflow for building distribution artifacts
  .github/workflows/build-artifacts-only.yml.disabled
Due: none

feat: add build and publish workflow for PyPI distribution
  .github/workflows/build-and-publish.yml
Due: none

[Feature] build artifacts and publish (#250)
  .github/workflows/build-and-publish.yml
  .github/workflows/build-artifacts-only.yml.disabled
Due: none

fix: update README.md to enhance structure and clarity, add installation instructions, and improve feature descriptions
  python/README.md
Due: none

feat: add GitHub Actions workflow for building and publishing to PyPI
  .github/workflows/build-and-publish.yml
Due: none

fix: simplify descriptions in workflow inputs and streamline version extraction command
  .github/workflows/build-and-publish.yml
Due: none

[Bugfix]: simplify descriptions in workflow inputs and streamline version extraction command (#251)
  .github/workflows/build-and-publish.yml
Due: none

fix: streamline artifact verification process and improve output clarity
  .github/workflows/build-and-publish.yml
Due: none

[Bugfix]: artifact verification process (#252)
  .github/workflows/build-and-publish.yml
Due: none

refactor: make publication jobs unconditional
  .github/workflows/build-and-publish.yml
Due: none

publication jobs unconditional
  .github/workflows/build-and-publish.yml
Due: none

publication jobs unconditional (#253)
  .github/workflows/build-and-publish.yml
Due: none

Implemented the bedrock integration codes in rust core
  core/src/llm/bedrock.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
Due: rust-build-check

solved the build issues. 1. I was making a async call to get a client of bedrock. i was causing issue.
  core/src/llm/aws_bedrock.rs
  core/src/llm/mod.rs
Due: rust-build-check

[Feature] add llm provider usage metadata (#246)
  core/src/workflow.rs
  python/src/workflow/executor.rs
  python/src/workflow/result.rs
Due: rust-build-check

added the sdk and python connector
  Cargo.toml
  core/Cargo.toml
  core/src/llm/mod.rs
  python/src/llm/client.rs
  python/src/llm/config.rs
  python/src/validation.rs
Due: rust-build-check, cargo-deny

implemented rust code and python connectors for aws bedrock
  core/src/llm/aws_bedrock.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  python/src/llm/config.rs
Due: rust-build-check

added the aws config package in cargo
  Cargo.toml
  core/Cargo.toml
  core/src/llm/aws_bedrock.rs
Due: rust-build-check, cargo-deny

documentation done
  docs/user-guide/llm-providers.md
Due: none

implemented the test cases
  docs/user-guide/llm-providers.md
  tests/python_integration_tests/tests_llm.py
  tests/rust_unit_tests/llm_provider_tests.rs
Due: none

[Feature] MistralAI llm provider (#243)
  core/src/llm/mistralai.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  docs/api-reference/configuration.md
  docs/api-reference/python-api.md
  docs/examples/llm-integration.md
  docs/user-guide/llm-providers.md
  examples/research-paper-summarizer-agent/backend/utils/caching.py
  python/src/llm/config.rs
  tests/python_integration_tests/tests_llm.py
  tests/python_unit_tests/tests_llm_clients.py
  tests/rust_integration_tests/llm_tests.rs
  tests/rust_integration_tests/mod.rs
Due: rust-build-check

resolving commit.
  docs/user-guide/llm-providers.md
  tests/python_integration_tests/tests_llm.py
Due: none

Add optimized build-and-publish2.yml workflow (50-65% faster)
  .github/workflows/build-and-publish2.yml
Due: none

[Feature] Implement Cloudflare Worker AI provider and integration tests
  core/src/llm/cloudflare.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  python/src/llm/client.rs
  python/src/llm/config.rs
  tests/python_integration_tests/test_cloudflare.py
  tests/rust_integration_tests/cloudflare_test.rs
Due: rust-build-check

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

