Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$


Add comprehensive performance regression and functional tests for ParallelRAG
  examples/benchmark_gil_fixes.py
  tests/benchmarks/benchmark_chunking.py
  tests/benchmarks/benchmark_embedding.py
  tests/benchmarks/benchmark_framework_comparison.py
  tests/benchmarks/benchmark_llm.py
  tests/benchmarks/benchmark_ollama_comparison.py
  tests/benchmarks/benchmark_stress_test.py
  tests/benchmarks/benchmark_utils.py
  tests/python_integration_tests/test_error_resilience.py
  tests/python_integration_tests/test_gil_release.py
  tests/python_integration_tests/test_gil_release_llm_splitters.py
  tests/python_integration_tests/test_gil_validation_no_api.py
  tests/python_integration_tests/test_memory_leak_detection.py
  tests/python_integration_tests/test_parallel_rag_e2e_pipeline.py
  tests/python_integration_tests/test_parallel_rag_stress.py
  tests/python_integration_tests/test_performance_regression.py
  tests/test_langchain_rag_app.py
  tests/test_parallel_rag_app.py
Due: none

Add performance validation and optimization results for GraphBit and LangChain RAG implementations
  create_additional_visualizations.py
  create_resource_charts.py
  create_visualizations.py
  framework_comparison_results.json
  graphbit_max_capacity_100k.json
  graphbit_max_capacity_250k.json
  graphbit_max_capacity_500k.json
  graphbit_stress_10k.json
  graphbit_stress_50k.json
  graphbit_stress_5k.json
  graphbit_variable_size_10000w.json
  graphbit_variable_size_100w.json
  graphbit_variable_size_2000w.json
  validate_rag_equivalence.py
  worker_optimization_results.json
Due: none

feat: add performance analysis charts for resource utilization and efficiency
  chart_component_breakdown.png
  chart_cost_comparison.png
  chart_cpu_utilization.png
  chart_document_size_impact.png
  chart_extended_capacity.png
  chart_memory_usage.png
  chart_resource_efficiency.png
  chart_scaling_efficiency.png
  chart_speedup.png
  chart_throughput.png
  chart_total_time.png
  chart_worker_optimization.png
Due: none

Add production-ready Parallel RAG application and worker optimization tests
  langchain_rag_ollama.py
  langchain_stress_50k.json
  parallel_rag_app.py
  test_worker_optimization.py
Due: none

[Enhancement] add max_tokens configuration
  core/src/workflow.rs
  python/src/workflow/node.rs
Due: rust-build-check

fix: updated parse_python_response to accomodate different types of response format.
  core/Cargo.toml
  core/src/llm/providers.rs
  core/src/llm/python_bridge.rs
  docs/providers/huggingface-quick-reference.md
  pyproject.toml
  python/pyproject.toml
  python/python-src/graphbit/__init__.py
  python/python-src/graphbit/providers/huggingface/embeddings.py
  python/python-src/graphbit/providers/huggingface/llm.py
  python/src/llm/config.rs
Due: safety-check, rust-build-check, python-build-check, cargo-deny

[Enhancement] add max_tokens to nodes and documentation (#309)
  core/src/workflow.rs
  docs/api-reference/node-types.md
  docs/user-guide/workflow-builder.md
  python/src/workflow/node.rs
Due: rust-build-check

Add tracer
  python/cli.py
  python/src/cli/deploy.rs
  python/src/cli/init.rs
Due: rust-build-check

feat: made llm calls async
  examples/research-paper-summarizer-agent/README.md
  examples/research-paper-summarizer-agent/backend/main-server.py
  examples/research-paper-summarizer-agent/backend/paper_manager.py
  examples/research-paper-summarizer-agent/backend/summarizer.py
Due: none

feat: init tracer
  examples/research-paper-summarizer-agent/backend/llm_manager.py
  examples/research-paper-summarizer-agent/backend/summarizer.py
Due: none

[Feature] uv support added (#289)
  .gitignore
  CONTRIBUTING.md
  pyproject.toml
Due: safety-check, python-build-check

Remove library initialization from main function
  core/README.md
Due: none

[Documentation] Core README update. (#274)
  core/README.md
Due: none

fix: set up instruction (#308)
  examples/research-paper-summarizer-agent/README.md
  examples/research-paper-summarizer-agent/docs/setup-instructions.html
Due: none

fix: project structure
  examples/research-paper-summarizer-agent/README.md
Due: none

feat: Enhance error handling and document processing in ParallelRAG
  examples/parallel_rag_optimized.py
Due: none

restore unintended commit for a irrelevant file
  pyproject.toml
Due: safety-check, python-build-check

docs: fastapi usage with graphbit
  docs/connector/fastapi_integration.md
Due: none

[Documentation fix] updated examples with temperature and max tokens & bug fix
  docs/getting-started/dependency-installation.md
  docs/getting-started/quickstart.md
Due: none

feat: Complete repository reorganization and migration
  parallelrag_core/docs/project/REORGANIZATION_DOCUMENTATION_MAP.md
  parallelrag_core/docs/project/REORGANIZATION_FILE_INVENTORY.md
  parallelrag_core/docs/project/REORGANIZATION_IMPORT_MAP.md
  parallelrag_core/docs/project/REORGANIZATION_MIGRATION_SUMMARY.md
  parallelrag_core/docs/project/REORGANIZATION_TARGET_STRUCTURE.md
Due: none

[Documentation] update installation command formatting
  docs/getting-started/dependency-installation.md
Due: none

[Documentation] improve debugging guide and enhance agent configuration options
  docs/development/debugging.md
  docs/user-guide/agents.md
Due: none

[Feature] Hugging Face provider integration (#294)
  core/Cargo.toml
  core/src/agents.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  core/src/llm/python_bridge.rs
  docs/providers/huggingface-quick-reference.md
  pyproject.toml
  python/pyproject.toml
  python/python-src/graphbit/__init__.py
  python/python-src/graphbit/providers/__init__.py
  python/python-src/graphbit/providers/huggingface/__init__.py
  python/python-src/graphbit/providers/huggingface/client.py
  python/python-src/graphbit/providers/huggingface/embeddings.py
  python/python-src/graphbit/providers/huggingface/inference.py
  python/python-src/graphbit/providers/huggingface/llm.py
  python/src/llm/config.rs
  python/src/workflow/executor.rs
Due: safety-check, rust-build-check, python-build-check, cargo-deny

[Documentation] update Python API reference, tool calling, and embedding methods
  docs/api-reference/python-api.md
  docs/development/python-bindings.md
  docs/user-guide/text-splitters.md
  docs/user-guide/tool-calling.md
Due: none

feat: Add JavaScript bindings for GraphBit core functionalities
  javascript/src/agent.rs
  javascript/src/document_loader.rs
  javascript/src/embeddings.rs
  javascript/src/errors.rs
  javascript/src/graph.rs
  javascript/src/lib.rs
  javascript/src/llm.rs
  javascript/src/text_splitter.rs
  javascript/src/types.rs
  javascript/src/validation.rs
  javascript/src/workflow.rs
Due: none

feat: Add JavaScript bindings and update dependencies for GraphBit
  Cargo.lock
  Cargo.toml
  javascript/Cargo.toml
Due: rust-build-check, cargo-deny

feat: add package.json for graphbit's core with initial configuration and scripts
  javascript/build.rs
  javascript/package-lock.json
  javascript/package.json
Due: none

feat: add TypeScript configuration file for JavaScript bindings
  javascript/tsconfig.json
Due: none

feat: add unit and integration tests for workflow execution, text splitting, and LLM configuration
  javascript/tests/benchmarks/performance.bench.ts
  javascript/tests/fixtures/sample-data.ts
  javascript/tests/integration/workflow-execution.test.ts
  javascript/tests/types/type-tests.test.ts
  javascript/tests/unit/llm.test.ts
  javascript/tests/unit/text-splitter.test.ts
  javascript/tests/unit/workflow.test.ts
Due: none

feat: add example scripts for basic workflow, embeddings, and text processing
  javascript/examples/README.md
  javascript/examples/basic-workflow.ts
  javascript/examples/embeddings.ts
  javascript/examples/text-processing.ts
Due: none

feat: add API reference, contributing guidelines, maintenance plan, and migration guide for GraphBit JavaScript bindings
  javascript/docs/API.md
  javascript/docs/CONTRIBUTING.md
  javascript/docs/MAINTENANCE.md
  javascript/docs/MIGRATION.md
Due: none

feat: add Vitest configuration for testing setup
  javascript/vitest.config.ts
Due: none

feat: add .gitignore file for JavaScript bindings to exclude build artifacts, logs, and environment files
  javascript/.gitignore
Due: none

feat: add ESLint configuration for TypeScript and Prettier integration
  javascript/.eslintrc.json
Due: none

feat: add comprehensive documentation for GraphBit JavaScript bindings, including changelog, compilation errors summary, project summary, quick start guide, and README
  javascript/CHANGELOG.md
  javascript/COMPILATION_ERRORS_SUMMARY.md
  javascript/PROJECT_SUMMARY.md
  javascript/QUICK_START.md
  javascript/README.md
Due: none

feat: add Prettier configuration for JavaScript code formatting
  javascript/.prettierrc.json
Due: none

feat: huggingface embedding implemented
  core/src/embeddings.rs
  core/src/embeddings/python_bridge.rs
  python/python-src/graphbit/providers/huggingface/embeddings.py
  python/src/embeddings/client.rs
  python/src/embeddings/config.rs
  python/src/workflow/node.rs
Due: rust-build-check
