Repository InfinitiBit/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$


replaced the brittle NAPI-RS organization step
  .github/workflows/js-ts-release.yml
Due: none

custom, specialized script for deterministically creates the entire publication structure and generates valid manifests locally
  javascript/scripts/organize-npm.js
Due: none

deterministically creates the entire publication structure and generates valid manifests locally
  .github/workflows/js-ts-release.yml
Due: none

[BugFix] deterministically creates the entire publication structure and generates valid manifests locally (#362)
  .github/workflows/js-ts-release.yml
Due: none

Removing Redundant Prepublish Script
  javascript/package.json
Due: none

bugfix: Remove automatic tracing_subscriber initialization from core
  core/src/lib.rs
Due: rust-build-check

allow user-controlled tracing initialization
  python/src/lib.rs
Due: rust-build-check

[Feature] Add LiteLLM integration with optional API key configuration in rust core
  .markdownlint.yaml
  Cargo.toml
  pyproject.toml
  python/pyproject.toml
  python/python-src/graphbit/providers/litellm/__init__.py
  python/python-src/graphbit/providers/litellm/llm.py
  python/src/llm/config.rs
Due: safety-check, rust-build-check, python-build-check, cargo-deny

feat: Litellm embeddings implemented.
  pyproject.toml
  python/python-src/graphbit/providers/litellm/embeddings.py
  python/src/embeddings/config.rs
Due: safety-check, rust-build-check, python-build-check

feat: litellm async embedding support
  examples/test.py
  python/python-src/graphbit/providers/litellm/embeddings.py
  test_async.py
  test_litellm_async.py
  tests/python_unit_tests/tests_litellm_embeddings.py
Due: none

[BugFix]: (core, python): make tracing user-controlled (#363)
  core/src/lib.rs
  python/src/lib.rs
Due: rust-build-check

[Refactor] pypi release and publish related fixes (#334)
  Cargo.toml
  python/pyproject.toml
  scripts/bump-version.py
Due: rust-build-check, cargo-deny

docs: Litellm llm providers documentation
  docs/user-guide/llm-providers.md
Due: none

docs: Litellm embedding documentations
  docs/user-guide/embeddings.md
Due: none

removed examples
  examples/test.py
  test_async.py
  test_litellm_async.py
Due: none

fix: set env with uv
  pyproject.toml
  python/pyproject.toml
Due: safety-check, python-build-check

fix: set env with uv (#366)
  pyproject.toml
  python/pyproject.toml
Due: safety-check, python-build-check

fix: numpy version updated accordingly for all python version support
  pyproject.toml
Due: safety-check, python-build-check

[BugFix] numpy version updated accordingly for all python version support (#367)
  pyproject.toml
Due: safety-check, python-build-check

Add autogen in the graphbit benchmark
  .gitignore
  benchmarks/frameworks/autogen_benchmark.py
  benchmarks/frameworks/common.py
  benchmarks/frameworks/langgraph_benchmark.py
  benchmarks/run_benchmark.py
  pyproject.toml
Due: safety-check, python-build-check

add and modify stats data and media files and contents
  README.md
  README_Multi_Lingual_i18n_Files/README.ar.md
  README_Multi_Lingual_i18n_Files/README.bn.md
  README_Multi_Lingual_i18n_Files/README.de.md
  README_Multi_Lingual_i18n_Files/README.es.md
  README_Multi_Lingual_i18n_Files/README.fr.md
  README_Multi_Lingual_i18n_Files/README.hi.md
  README_Multi_Lingual_i18n_Files/README.it.md
  README_Multi_Lingual_i18n_Files/README.ja.md
  README_Multi_Lingual_i18n_Files/README.ko.md
  README_Multi_Lingual_i18n_Files/README.pt-BR.md
  README_Multi_Lingual_i18n_Files/README.ru.md
  README_Multi_Lingual_i18n_Files/README.zh-CN.md
  README_Multi_Lingual_i18n_Files/README.zh-TW.md
Due: none

add and modify stats data and media files and contents (#369)
  README.md
  README_Multi_Lingual_i18n_Files/README.ar.md
  README_Multi_Lingual_i18n_Files/README.bn.md
  README_Multi_Lingual_i18n_Files/README.de.md
  README_Multi_Lingual_i18n_Files/README.es.md
  README_Multi_Lingual_i18n_Files/README.fr.md
  README_Multi_Lingual_i18n_Files/README.hi.md
  README_Multi_Lingual_i18n_Files/README.it.md
  README_Multi_Lingual_i18n_Files/README.ja.md
  README_Multi_Lingual_i18n_Files/README.ko.md
  README_Multi_Lingual_i18n_Files/README.pt-BR.md
  README_Multi_Lingual_i18n_Files/README.ru.md
  README_Multi_Lingual_i18n_Files/README.zh-CN.md
  README_Multi_Lingual_i18n_Files/README.zh-TW.md
Due: none

add stats and update contents of pypi readme file
  python/README.md
Due: none

feat: add new pyproject.toml for benchmarks
  benchmarks/README.md
  benchmarks/frameworks/langchain_benchmark.py
  benchmarks/frameworks/langgraph_benchmark.py
  benchmarks/pyproject.toml
Due: none

enhance: Dockerfile updated for benchmarks
  benchmarks/Dockerfile
Due: none

update with validated accurate info and add correct reference links
  python/README.md
Due: none

fix(docs): update Python version to 3.9-3.13 and change terminology to source-available
  README.md
  README_Multi_Lingual_i18n_Files/README.ar.md
  README_Multi_Lingual_i18n_Files/README.bn.md
  README_Multi_Lingual_i18n_Files/README.de.md
  README_Multi_Lingual_i18n_Files/README.es.md
  README_Multi_Lingual_i18n_Files/README.fr.md
  README_Multi_Lingual_i18n_Files/README.hi.md
  README_Multi_Lingual_i18n_Files/README.it.md
  README_Multi_Lingual_i18n_Files/README.ja.md
  README_Multi_Lingual_i18n_Files/README.ko.md
  README_Multi_Lingual_i18n_Files/README.pt-BR.md
  README_Multi_Lingual_i18n_Files/README.ru.md
  README_Multi_Lingual_i18n_Files/README.zh-CN.md
  README_Multi_Lingual_i18n_Files/README.zh-TW.md
Due: none

refactor graphbit version bump and python support range
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/pyproject.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

Disable post-build license notice script
  python/pyproject.toml
Due: none

feat(core): implement global registry for PythonBridge persistence
  core/src/llm/providers.rs
Due: rust-build-check

fix(core): enable PythonBridge restoration from registry
  core/src/llm/mod.rs
Due: rust-build-check

fix(python): register PythonBridge instances with unique IDs
  python/src/llm/config.rs
Due: rust-build-check

feat: Implement platform-optimized memory allocators (jemalloc, mimalloc) with verification.
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/lib.rs
  python/src/lib.rs
Due: rust-build-check, cargo-deny

[Documentation] add stats and update contents of pypi readme file (#370)
  python/README.md
Due: none

fix(docs): update Python version to 3.9-3.13 and change terminology to source-available (#373)
  README.md
  README_Multi_Lingual_i18n_Files/README.ar.md
  README_Multi_Lingual_i18n_Files/README.bn.md
  README_Multi_Lingual_i18n_Files/README.de.md
  README_Multi_Lingual_i18n_Files/README.es.md
  README_Multi_Lingual_i18n_Files/README.fr.md
  README_Multi_Lingual_i18n_Files/README.hi.md
  README_Multi_Lingual_i18n_Files/README.it.md
  README_Multi_Lingual_i18n_Files/README.ja.md
  README_Multi_Lingual_i18n_Files/README.ko.md
  README_Multi_Lingual_i18n_Files/README.pt-BR.md
  README_Multi_Lingual_i18n_Files/README.ru.md
  README_Multi_Lingual_i18n_Files/README.zh-CN.md
  README_Multi_Lingual_i18n_Files/README.zh-TW.md
Due: none

[Refactor]: modify and update graphbit version and python support range (#374)
  Cargo.lock
  Cargo.toml
  pyproject.toml
  python/pyproject.toml
Due: safety-check, rust-build-check, python-build-check, cargo-deny

feat: introduce platform-optimized memory allocators with robust, allocator-specific runtime verification and documentation.
  core/src/lib.rs
  docs/ALLOCATOR-EXECUTIVE-SUMMARY.md
  docs/ALLOCATOR-QUICK-FACTS.md
  docs/MEMORY-ALLOCATOR-REPORT.md
  docs/development/active-vs-in-use-allocators.md
  docs/development/allocator-proof-explanation.md
  docs/development/memory-allocator-analysis.md
  docs/development/memory-allocator-implementation-summary.md
  docs/development/memory-allocator-quick-reference.md
  docs/development/python-bindings-mimalloc-analysis.md
  docs/development/runtime-verification-explained.md
  python/src/lib.rs
  test_specific_allocator.py
  verify_allocator.py
Due: rust-build-check

[Bugfix] python bridge serialization panic (#376)
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  python/src/llm/config.rs
Due: rust-build-check

feat(llm): add unregister_python_instance for Python registry cleanup
  core/src/llm/providers.rs
Due: rust-build-check

feat(python): add cleanup method to LlmConfig for resource management
  python/src/llm/config.rs
Due: rust-build-check
